* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  background: #142257;
}
.header .header__container {
  width: 100%;
  max-width: 1920px;
  padding: 24px 160px;
  margin: 0 auto;
}
.header .header__container .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header__container .header__nav .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.header .header__container .header__nav .header__logo .homepro__title--link .homepro__title {
  color: #fff;
  font-size: 24px;
  font-weight: 800;
}
.header .header__container .header__nav .nav .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 57px;
}
.header .header__container .header__nav .nav .nav__menu .nav__menu--item .nav__menu--link {
  color: #fff;
  line-height: 133.333%;
  font-size: 18px;
  font-weight: 700;
}
.header .header__container .header__nav .homepro__services--item .services__description {
  position: relative;
  line-height: 13.333%;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.header .header__container .header__nav .homepro__services--item .services__description::before {
  content: "";
  position: absolute;
  top: 30%;
  left: -20px;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #ff5e5e;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.hero {
  background: #142257;
}
.hero .hero__container .hero__content {
  padding: 0px 16px 0px 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto 1fr auto)[1];
  grid-template-columns: repeat(1, auto 1fr auto);
}
.hero .hero__container .hero__content .hero__left--item {
  max-height: 836px;
}
.hero .hero__container .hero__content .hero__left--item .hero__left--image {
  width: 100%;
  max-width: 412px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 24px;
  border-bottom-right-radius: 0;
}
.hero .hero__container .hero__content .hero__content--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 152px;
}
.hero .hero__container .hero__content .hero__content--item .hero__content--block {
  padding-top: 162px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.hero .hero__container .hero__content .hero__content--item .hero__content--block .hero__content--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.hero .hero__container .hero__content .hero__content--item .hero__content--block .hero__content--list .hero__list--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  color: #9ea3b5;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
}
.hero .hero__container .hero__content .hero__content--item .hero__content--block .hero__content--list .hero__list--item:not(.not-circle)::after {
  content: "";
  position: relative;
  top: 2px;
  display: block;
  width: 8px;
  height: 8px;
  background: #9ea3b5;
  border-radius: 50%;
}
.hero .hero__container .hero__content .hero__right--item {
  max-height: 836px;
}
.hero .hero__container .hero__content .hero__right--item .hero__right--image {
  width: 100%;
  max-width: 412px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 24px;
  border-bottom-left-radius: 0;
}
.hero .hero__container .hero__main--title .hero__title {
  max-width: 673px;
  text-align: center;
  line-height: 118.75%;
  color: #fff;
  font-size: 64px;
  font-weight: 800;
}
.hero .hero__container .hero__check--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 41px;
  padding-bottom: 48px;
}
.hero .hero__container .hero__check--items .check__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.hero .hero__container .hero__check--items .check__item .check__title--item {
  color: #15B2F5;
  line-height: 160%;
  font-size: 20px;
}
.hero .hero__button--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero .hero__button--item .hero__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  background: #15B2F5;
  border-radius: 60px;
  padding: 8px 8px 8px 24px;
  color: #fff;
  line-height: 13.333%;
  font-size: 24px;
  font-weight: 700;
}
.hero .hero__button--item .hero__button .white__bg--circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #fff;
}
.hero .hero__features--items {
  padding-left: 51px;
  padding-right: 49px;
  padding-bottom: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero .hero__features--items .features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  padding-right: 32px;
}
.hero .hero__features--items .features__item:not(.not-line):after {
  content: "";
  height: 48px;
  width: 1.5px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(79, 102, 183, 0)), color-stop(rgb(79, 102, 183)), to(rgba(79, 102, 183, 0)));
  background: linear-gradient(rgba(79, 102, 183, 0), rgb(79, 102, 183), rgba(79, 102, 183, 0));
  display: block;
  margin-left: 16px;
}
.hero .hero__features--items .features__item .features__bg--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  background: #1F3584;
  border-radius: 50%;
}
.hero .hero__features--items .features__item .features__item--title {
  max-width: 105px;
  display: inline-block;
  color: #fff;
  line-height: 133.333%;
  font-size: 18px;
  font-weight: 600;
}
.hero .hero__decorations--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: 2px;
}