* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: #142257;
}
.header .header__container {
  width: 100%;
  max-width: 1920px;
  padding: 24px 160px;
  margin: 0 auto;
}
.header .header__container .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header__container .header__nav .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.header .header__container .header__nav .header__logo .homepro__title--link .homepro__title {
  color: #fff;
  font-size: 24px;
  font-weight: 800;
}
.header .header__container .header__nav .nav .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 57px;
}
.header .header__container .header__nav .nav .nav__menu .nav__menu--item .nav__menu--link {
  color: #fff;
  line-height: 133.333%;
  font-size: 18px;
  font-weight: 700;
}
.header .header__container .header__nav .homepro__services--item .services__description {
  position: relative;
  line-height: 13.333%;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.header .header__container .header__nav .homepro__services--item .services__description::before {
  content: "";
  position: absolute;
  top: 30%;
  left: -20px;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #ff5e5e;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.hero {
  background: #142257;
}
.hero .hero__container .hero__content {
  padding: 80px 16px 0px 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto 1fr auto)[1];
  grid-template-columns: repeat(1, auto 1fr auto);
}
.hero .hero__container .hero__content .hero__left--item {
  max-height: 836px;
}
.hero .hero__container .hero__content .hero__left--item .hero__left--image {
  width: 100%;
  max-width: 412px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 24px;
  border-bottom-right-radius: 0;
}
.hero .hero__container .hero__content .hero__content--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 152px;
}
.hero .hero__container .hero__content .hero__content--item .hero__content--block {
  padding-top: 162px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.hero .hero__container .hero__content .hero__content--item .hero__content--block .hero__content--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.hero .hero__container .hero__content .hero__content--item .hero__content--block .hero__content--list .hero__list--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  color: #9ea3b5;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
}
.hero .hero__container .hero__content .hero__content--item .hero__content--block .hero__content--list .hero__list--item:not(.not-circle)::after {
  content: "";
  position: relative;
  top: 1.5px;
  display: block;
  width: 8px;
  height: 8px;
  background: #9ea3b5;
  border-radius: 50%;
}
.hero .hero__container .hero__content .hero__right--item {
  max-height: 836px;
}
.hero .hero__container .hero__content .hero__right--item .hero__right--image {
  width: 100%;
  max-width: 412px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 24px;
  border-bottom-left-radius: 0;
}
.hero .hero__container .hero__main--title .hero__title {
  max-width: 673px;
  text-align: center;
  line-height: 118.75%;
  color: #fff;
  font-size: 64px;
  font-weight: 800;
}
.hero .hero__container .hero__check--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 41px;
  padding-bottom: 48px;
}
.hero .hero__container .hero__check--items .check__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.hero .hero__container .hero__check--items .check__item .check__title--item {
  color: #15b2f5;
  line-height: 160%;
  font-size: 20px;
}
.hero .hero__button--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero .hero__button--item .hero__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  background: #15b2f5;
  border-radius: 60px;
  padding: 8px 8px 8px 24px;
  color: #fff;
  line-height: 13.333%;
  font-size: 24px;
  font-weight: 700;
}
.hero .hero__button--item .hero__button .white__bg--circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #fff;
}
.hero .hero__features--items {
  padding-left: 51px;
  padding-right: 49px;
  padding-bottom: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero .hero__features--items .features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  padding-right: 32px;
}
.hero .hero__features--items .features__item:not(.not-line):after {
  content: "";
  height: 48px;
  width: 1.5px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(79, 102, 183, 0)), color-stop(rgb(79, 102, 183)), to(rgba(79, 102, 183, 0)));
  background: linear-gradient(rgba(79, 102, 183, 0), rgb(79, 102, 183), rgba(79, 102, 183, 0));
  display: block;
  margin-left: 16px;
}
.hero .hero__features--items .features__item .features__bg--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  background: #1f3584;
  border-radius: 50%;
}
.hero .hero__features--items .features__item .features__item--title {
  max-width: 105px;
  display: inline-block;
  color: #fff;
  line-height: 133.333%;
  font-size: 18px;
  font-weight: 600;
}
.hero .hero__decorations--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: 2px;
}

.professional .main__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.professional .professional__content {
  padding-top: 232px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.professional .professional__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 56px;
}
.professional .professional__information .professional__titles--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.professional .professional__information .professional__titles--item .professional__title {
  max-width: 557px;
  color: #171921;
  line-height: 123.077%;
  font-size: 52px;
  font-weight: 700;
}
.professional .professional__information .professional__titles--item .professional__subtitle {
  color: #545971;
  line-height: 155.556%;
  font-size: 18px;
  max-width: 557px;
}
.professional .professional__information .professional__information--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 57px;
}
.professional .professional__information .professional__information--list .info--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.professional .professional__information .professional__information--list .info--list .info__list--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.professional .professional__information .professional__information--list .info--list .info__list--items .info__list-title {
  color: #1f3584;
  line-height: 140%;
  font-size: 20px;
  font-weight: 700;
}
.professional .professional__information .professional__info--banner .banner__info--item {
  max-width: 450px;
  background: #15b2f5;
  padding: 12px 32px;
  border-radius: 24px;
}
.professional .professional__information .professional__info--banner .banner__info--item .banner--info {
  color: #fff;
  line-height: 155.556%;
  font-size: 18px;
}
.professional .professional__information .professional__info--banner .banner__info--item .banner--info-bold {
  color: #fff;
  line-height: 155.556%;
  font-size: 20px;
  font-weight: 600;
  text-decoration: underline;
}
.professional .professional__intro-image {
  position: relative;
  bottom: 80px;
}

.services .main__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.services__content {
  padding: 116.5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}
.services__content .services__titles--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.services__content .services__titles--items .services__title {
  color: #171921;
  font-size: 52px;
  font-weight: 700;
  line-height: 123.077%;
}
.services__content .services__titles--items .serives__subtitle {
  text-align: center;
  max-width: 552px;
  color: #545971;
  font-size: 18px;
  line-height: 155.556%;
}
.services__content .services__cards--items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
}
.services__content .services__cards--items > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.services__content .services__cards--items > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.services__content .services__cards--items > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.services__content .services__cards--items > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
.services__content .services__cards--items > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.services__content .services__cards--items > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.services__content .services__cards--items > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.services__content .services__cards--items > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}
.services__content .services__cards--items .services__card {
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.services__content .services__cards--items .services__card .services__card--bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 64px;
  height: 64px;
  background: #142257;
  border-radius: 20px;
}
.services__content .services__cards--items .services__card .services__card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.services__content .services__cards--items .services__card .services__card-info .card__info--title {
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  color: #171921;
  font-size: 24px;
  font-weight: 700;
  line-height: 133.333%;
}
.services__content .services__cards--items .services__card .services__card-info .card__info-subtitle {
  color: #545971;
  font-size: 18px;
  line-height: 155.556%;
}
.services__content .more__services--item {
  background-color: #15b2f5;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  padding: 32px;
}
.services__content .more__services--item .more__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}
.services__content .more__services--item .more__item .more-title {
  color: #fff;
  line-height: 133.333%;
  text-align: center;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-size: 24px;
  font-weight: 700;
}
.services__content .more__services--item .more__item .more-subtitle {
  color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 155.556%;
}
.services__content .more__services--item .more {
  width: 296px;
  border-radius: 60px;
  background: #fff;
  padding: 16px 24px;
  color: #15b2f5;
  font-size: 24px;
  font-weight: 700;
  line-height: 133.333%;
}

.friendly {
  margin: 24px 60px;
  border-radius: 24px;
  background: #142257;
}
.friendly .main__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.friendly__content--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.friendly__content--item .friendly-image {
  position: relative;
  top: 117px;
}
.friendly__content--item .friendly-image {
  right: 1.5px;
}
.friendly__content--item .to-left {
  left: 1.5px;
}

.friendly__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
  padding: 64px 0;
}
.friendly__content .friendly__titles .friendly__titles--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 80px;
}
.friendly__content .friendly__titles .friendly__titles--items .friendly__title {
  color: #fff;
  line-height: 123.077%;
  font-size: 52px;
  font-weight: 700;
}
.friendly__content .friendly__titles .friendly__titles--items .friendly__subtitle {
  max-width: 613px;
  color: #9ea3b5;
  line-height: 155.556%;
  font-size: 18px;
}
.friendly__content .friendly__titles::after {
  content: "";
  margin-top: 60px;
  width: 100%;
  height: 1.5px;
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(rgba(79, 102, 183, 0)), color-stop(#4f66b7), to(rgba(79, 102, 183, 0)));
  background: linear-gradient(to right, rgba(79, 102, 183, 0), #4f66b7, rgba(79, 102, 183, 0));
}

.friendly__cards--items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 184px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 128px 60px 128px 60px 128px;
  grid-template-rows: repeat(3, 128px);
  gap: 60px 184px;
}

.friendly__cards--items > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.friendly__cards--items > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.friendly__cards--items > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.friendly__cards--items > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.friendly__cards--items > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.friendly__cards--items > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.friendly__cards--items .friendly__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
.friendly__cards--items .friendly__card .friendly__card--image {
  max-width: 100px;
  max-height: 100px;
}
.friendly__cards--items .friendly__card .friendly__card--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.friendly__cards--items .friendly__card .friendly__card--info .friendly__card--title {
  color: #fff;
  line-height: 133.333%;
  font-size: 24px;
  font-weight: 700;
}
.friendly__cards--items .friendly__card .friendly__card--info .friendly__card-subtitle {
  color: #9ea3b5;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-size: 18px;
  line-height: 155.556%;
}

.works .main__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.works__content {
  padding-top: 158px;
  padding-bottom: 156px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 88px;
}
.works__content .works__hero--image {
  margin-left: -88px;
}
.works__content .works__hero--image .worker-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.works__content .works__information--block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}
.works__content .works__information--block .works__information--title {
  max-width: 395px;
  color: #171921;
  line-height: 123.077%;
  font-size: 52px;
  font-weight: 700;
}
.works__content .works__information--block .works__information--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 52px;
}
.works__content .works__information--block .works__information--items .work__information--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
}
.works__content .works__information--block .works__information--items .work__information--item .work__information--titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.works__content .works__information--block .works__information--items .work__information--item .work__information--titles .number__item {
  color: #9ea3b5;
  line-height: 123.077%;
  font-size: 52px;
  font-weight: 700;
}
.works__content .works__information--block .works__information--items .work__information--item .work__information--titles .heading__item {
  max-width: 164px;
  color: #171921;
  line-height: 133.333%;
  font-size: 24px;
  font-weight: 700;
}
.works__content .works__information--block .works__information--items .work__information--item .work__information--subtitle {
  max-width: 420px;
  color: #9ea3b5;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-size: 18px;
  line-height: 155.556%;
}

.reviews .main__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  max-width: 1920px;
  padding: 131px 395.392px 132px 394.608px;
}

.reviews__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 66px;
}
.reviews__content .reviews__title--item {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.reviews__content .reviews__title--item .reviews__title {
  max-width: 650px;
  color: #171921;
  font-size: 52px;
  font-weight: 700;
  line-height: 123.077%;
}
.reviews__content .reviews__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.reviews__content .reviews__block .reviews__block-logo {
  text-align: center;
}
.reviews__content .reviews__block .reviews__block-logo .trustpilot__logo {
  padding: 24px 0;
}
.reviews__content .reviews__block .reviews__block-logo::after {
  content: "";
  display: block;
  width: 100%;
  height: 1.5px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(79, 102, 183, 0)), color-stop(#cbcfdb), to(rgba(79, 102, 183, 0)));
  background: linear-gradient(to right, rgba(79, 102, 183, 0), #cbcfdb, rgba(79, 102, 183, 0));
}
.reviews__content .reviews__block .reviews__block--subtitle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
}
.reviews__content .reviews__block .reviews__block--subtitle .reviews__subtitle {
  max-width: 728px;
  text-align: center;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  line-height: 160%;
  color: #545971;
  font-size: 20px;
}
.reviews__content .reviews__block .reviews__block--subtitle .menu__arrow--left {
  width: 48px;
  height: 48px;
  padding: 12px;
  background: #e3e6f0;
  border-radius: 50%;
}
.reviews__content .reviews__block .reviews__block--subtitle .menu__arrow-right {
  width: 48px;
  height: 48px;
  padding: 12px;
  background: #15b2f5;
  border-radius: 50%;
}
.reviews__content .reviews__block .reviews__profile--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
}
.reviews__content .reviews__block .reviews__profile--item .reviews__profile--rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.reviews__content .reviews__block .reviews__profile--item .reviews__profile--rating .profile__title {
  color: #171921;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  line-height: 133.333%;
  font-size: 24px;
  font-weight: 700;
}
.reviews__content .reviews__menu--swipers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
}
.reviews__content .reviews__menu--swipers .blue__swipper {
  width: 40px;
  height: 12px;
  border-radius: 24px;
  background: #15b2f5;
}
.reviews__content .reviews__menu--swipers .gray__swippers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.reviews__content .reviews__menu--swipers .gray__swippers .gray-swipper {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #e3e6f0;
  border-radius: 50%;
}

.blog .main__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.blog__content {
  padding: 84px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 56px;
}
.blog__content .blog__titles--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.blog__content .blog__titles--items .blog__title {
  color: #171921;
  line-height: 123.077%;
  text-align: center;
  font-size: 52px;
  font-weight: 700;
}
.blog__content .blog__titles--items .blog__subtitle {
  color: #545971;
  text-align: center;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  line-height: 150%;
  font-size: 24px;
  max-width: 694px;
}
.blog__content .blog__cards--items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 48px 1fr 48px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 48px;
     -moz-column-gap: 48px;
          column-gap: 48px;
}
.blog__content .blog__cards--items .blog__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.blog__content .blog__cards--items .blog__card .blog__card--image {
  width: 100%;
}
.blog__content .blog__cards--items .blog__card .blog__card--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.blog__content .blog__cards--items .blog__card .blog__card--info .card__date {
  font-size: 18px;
  color: #545971;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  text-overflow: ellipsis;
  line-height: 155.556%;
  overflow: hidden;
}
.blog__content .blog__cards--items .blog__card .blog__card--info .blog__card--title {
  color: #171921;
  line-height: 125%;
  font-size: 32px;
  font-weight: 700;
}
.blog__content .blog__cards--items .blog__card .blog__card--info .blog__card--subtitle {
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  line-height: 155.556%;
  color: #545971;
  font-size: 18px;
  display: -webkit-box;
  max-width: 450px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog__content .blog__cards--items .blog__card .card__menu--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.blog__content .blog__cards--items .blog__card .card__menu--buttons .menu__button {
  padding: 8px 16px;
  border-radius: 999px;
  background: #f3f5f9;
  color: #545971;
  font-size: 14px;
  font-weight: 600;
  line-height: 142.857%;
}
.blog__content .view__more--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.blog__content .view__more--item .view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  line-height: 133.333%;
  color: #15b2f5;
  font-size: 24px;
  font-weight: 700;
}

.faq .main__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.faq__content {
  padding: 190px 0 230px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 138px;
}
.faq__content .faq__information--items {
  max-width: 469px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.faq__content .faq__information--items .faq__title {
  color: #171921;
  line-height: 123.077%;
  font-size: 52px;
  font-weight: 700;
}
.faq__content .faq__information--items .faq__information--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11px;
}
.faq__content .faq__information--items .faq__information--links .faq__help--item {
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  color: #171921;
  line-height: 160%;
  font-size: 20px;
}
.faq__content .faq__information--items .faq__information--links .faq__help--link {
  color: #15b2f5;
  line-height: 133.333%;
  text-decoration: underline;
  font-size: 24px;
  font-weight: 700;
}
.faq__content .faq__menu--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.faq__content .faq__menu--items .faq__menu--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  width: 833px;
  padding: 24px 32px;
  border-radius: 12px;
  background: #f3f5f9;
}
.faq__content .faq__menu--items .faq__menu--item .faq__menu--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.faq__content .faq__menu--items .faq__menu--item .faq__menu--title .menu__card--title {
  color: #545971;
  line-height: 133.333%;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-size: 24px;
  font-weight: 700;
}
.faq__content .faq__menu--items .faq__menu--item .faq__menu--title > button {
  background: transparent;
}
.faq__content .faq__menu--items .faq__menu--item .faq__menu--subtitle {
  font-size: 16px;
  color: #737373;
  font-family: "Be Vietnam Pro" !important;
  line-height: 150%;
  -webkit-font-feature-settings: "ss01" on;
          font-feature-settings: "ss01" on;
}
.faq__content .faq__menu--items .faq__menu--subitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.faq__content .faq__menu--items .faq__menu--subitem .faq__menu--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 32px;
}
.faq__content .faq__menu--items .faq__menu--subitem .faq__menu--title .menu__card--title {
  color: #545971;
  line-height: 133.333%;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-size: 24px;
  font-weight: 700;
}
.faq__content .faq__menu--items .faq__menu--subitem .faq__menu--title > button {
  background: transparent;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #142257;
}
.banner .main__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  max-width: 600px;
}

.banner__content .banner__content--block .banner__decoration--item .decoration__item {
  margin-top: -2px;
}
.banner__content .banner__content--block .banner__block--info {
  padding-top: 132px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.banner__content .banner__content--block .banner__block--info .banner__title {
  max-width: 673px;
  text-align: center;
  line-height: 118.75%;
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  text-align: left;
}
.banner__content .banner__content--block .banner__block--info .hero__check--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 41px;
  padding-bottom: 12px;
}
.banner__content .banner__content--block .banner__block--info .hero__check--items .check__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.banner__content .banner__content--block .banner__block--info .hero__check--items .check__item .check__title--item {
  color: #15b2f5;
  line-height: 160%;
  font-size: 20px;
}
.banner__content .banner__content--block .banner__block--info .hero__button--item .hero__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  background: #15b2f5;
  border-radius: 60px;
  padding: 8px 8px 8px 24px;
  color: #fff;
  line-height: 13.333%;
  font-size: 24px;
  font-weight: 700;
}
.banner__content .banner__content--block .banner__block--info .hero__button--item .white__bg--circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #fff;
}