* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  background: #142257;
}
.header .header__container {
  width: 100%;
  max-width: 1920px;
  padding: 24px 160px;
  margin: 0 auto;
}
.header .header__container .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header__container .header__nav .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.header .header__container .header__nav .header__logo .homepro__title--link .homepro__title {
  color: #fff;
  font-size: 24px;
  font-weight: 800;
}
.header .header__container .header__nav .nav .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 57px;
}
.header .header__container .header__nav .nav .nav__menu .nav__menu--item .nav__menu--link {
  color: #fff;
  line-height: 133.333%;
  font-size: 18px;
  font-weight: 700;
}
.header .header__container .header__nav .homepro__services--item .services__description {
  position: relative;
  line-height: 13.333%;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.header .header__container .header__nav .homepro__services--item .services__description::before {
  content: "";
  position: absolute;
  top: 30%;
  left: -20px;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #ff5e5e;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.hero {
  background: #142257;
}
.hero .hero__container .hero__content {
  padding: 0px 16px 0px 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto 1fr auto)[1];
  grid-template-columns: repeat(1, auto 1fr auto);
}
.hero .hero__container .hero__content .hero__left--item {
  max-height: 836px;
}
.hero .hero__container .hero__content .hero__left--item .hero__left--image {
  width: 100%;
  max-width: 412px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 24px;
  border-bottom-right-radius: 0;
}
.hero .hero__container .hero__content .hero__content--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 152px;
}
.hero .hero__container .hero__content .hero__content--item .hero__content--block {
  padding-top: 162px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.hero .hero__container .hero__content .hero__content--item .hero__content--block .hero__content--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.hero .hero__container .hero__content .hero__content--item .hero__content--block .hero__content--list .hero__list--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  color: #9ea3b5;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
}
.hero .hero__container .hero__content .hero__content--item .hero__content--block .hero__content--list .hero__list--item:not(.not-circle)::after {
  content: "";
  position: relative;
  top: 1.5px;
  display: block;
  width: 8px;
  height: 8px;
  background: #9ea3b5;
  border-radius: 50%;
}
.hero .hero__container .hero__content .hero__right--item {
  max-height: 836px;
}
.hero .hero__container .hero__content .hero__right--item .hero__right--image {
  width: 100%;
  max-width: 412px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 24px;
  border-bottom-left-radius: 0;
}
.hero .hero__container .hero__main--title .hero__title {
  max-width: 673px;
  text-align: center;
  line-height: 118.75%;
  color: #fff;
  font-size: 64px;
  font-weight: 800;
}
.hero .hero__container .hero__check--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 41px;
  padding-bottom: 48px;
}
.hero .hero__container .hero__check--items .check__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.hero .hero__container .hero__check--items .check__item .check__title--item {
  color: #15B2F5;
  line-height: 160%;
  font-size: 20px;
}
.hero .hero__button--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero .hero__button--item .hero__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  background: #15B2F5;
  border-radius: 60px;
  padding: 8px 8px 8px 24px;
  color: #fff;
  line-height: 13.333%;
  font-size: 24px;
  font-weight: 700;
}
.hero .hero__button--item .hero__button .white__bg--circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #fff;
}
.hero .hero__features--items {
  padding-left: 51px;
  padding-right: 49px;
  padding-bottom: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero .hero__features--items .features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  padding-right: 32px;
}
.hero .hero__features--items .features__item:not(.not-line):after {
  content: "";
  height: 48px;
  width: 1.5px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(79, 102, 183, 0)), color-stop(rgb(79, 102, 183)), to(rgba(79, 102, 183, 0)));
  background: linear-gradient(rgba(79, 102, 183, 0), rgb(79, 102, 183), rgba(79, 102, 183, 0));
  display: block;
  margin-left: 16px;
}
.hero .hero__features--items .features__item .features__bg--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  background: #1F3584;
  border-radius: 50%;
}
.hero .hero__features--items .features__item .features__item--title {
  max-width: 105px;
  display: inline-block;
  color: #fff;
  line-height: 133.333%;
  font-size: 18px;
  font-weight: 600;
}
.hero .hero__decorations--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: 2px;
}

.professional .main__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.professional .professional__content {
  padding-top: 232px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.professional .professional__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 56px;
}
.professional .professional__information .professional__titles--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.professional .professional__information .professional__titles--item .professional__title {
  max-width: 557px;
  color: #171921;
  line-height: 123.077%;
  font-size: 52px;
  font-weight: 700;
}
.professional .professional__information .professional__titles--item .professional__subtitle {
  color: #545971;
  line-height: 155.556%;
  font-size: 18px;
  max-width: 557px;
}
.professional .professional__information .professional__information--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 57px;
}
.professional .professional__information .professional__information--list .info--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.professional .professional__information .professional__information--list .info--list .info__list--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.professional .professional__information .professional__information--list .info--list .info__list--items .info__list-title {
  color: #1F3584;
  line-height: 140%;
  font-size: 20px;
  font-weight: 700;
}
.professional .professional__information .professional__info--banner .banner__info--item {
  max-width: 450px;
  background: #15B2F5;
  padding: 12px 32px;
  border-radius: 24px;
}
.professional .professional__information .professional__info--banner .banner__info--item .banner--info {
  color: #fff;
  line-height: 155.556%;
  font-size: 18px;
}
.professional .professional__information .professional__info--banner .banner__info--item .banner--info-bold {
  color: #fff;
  line-height: 155.556%;
  font-size: 20px;
  font-weight: 600;
  text-decoration: underline;
}
.professional .professional__intro-image {
  position: relative;
  bottom: 80px;
}

.services .main__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.services__content {
  padding: 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}
.services__content .services__titles--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.services__content .services__titles--items .services__title {
  color: #171921;
  font-size: 52px;
  font-weight: 700;
  line-height: 123.077%;
}
.services__content .services__titles--items .serives__subtitle {
  text-align: center;
  max-width: 552px;
  color: #545971;
  font-size: 18px;
  line-height: 155.556%;
}
.services__content .services__cards--items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
}
.services__content .services__cards--items > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.services__content .services__cards--items > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.services__content .services__cards--items > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.services__content .services__cards--items > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
.services__content .services__cards--items > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.services__content .services__cards--items > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.services__content .services__cards--items > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.services__content .services__cards--items > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}
.services__content .services__cards--items .services__card {
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.services__content .services__cards--items .services__card .services__card--bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 64px;
  height: 64px;
  background: #142257;
  border-radius: 20px;
}
.services__content .services__cards--items .services__card .services__card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.services__content .services__cards--items .services__card .services__card-info .card__info--title {
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  color: #171921;
  font-size: 24px;
  font-weight: 700;
  line-height: 133.333%;
}
.services__content .services__cards--items .services__card .services__card-info .card__info-subtitle {
  color: #545971;
  font-size: 18px;
  line-height: 155.556%;
}
.services__content .more__services--item {
  background-color: #15B2F5;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  padding: 32px;
}
.services__content .more__services--item .more__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}
.services__content .more__services--item .more__item .more-title {
  color: #fff;
  line-height: 133.333%;
  text-align: center;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-size: 24px;
  font-weight: 700;
}
.services__content .more__services--item .more__item .more-subtitle {
  color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 155.556%;
}
.services__content .more__services--item .more {
  width: 296px;
  border-radius: 60px;
  background: #fff;
  padding: 16px 24px;
  color: #15B2F5;
  font-size: 24px;
  font-weight: 700;
  line-height: 133.333%;
}