@media screen and (width <= 1550px) {
  .header__burger {
    display: none;
  }
  .professional,
  .services,
  .blog,
  .faq,
  .footer,
  .works,
  .reviews {
    padding: 0 50px;
  }
  .hero .hero__container .hero__content .hero__content--item .hero__content--block {
    padding-top: 100px;
  }
  .hero .hero__container .hero__content .hero__right--item .hero__right--image,
  .hero .hero__container .hero__content .hero__left--item .hero__left--image {
    max-height: 99%;
  }
  .hero .hero__features--items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 70px 1fr;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 30px 70px;
    position: relative;
  }
  .hero .hero__features--items .features__item:not(.not-line):after {
    display: none;
  }
  .hero .hero__features--items .features__item {
    padding: 0 32px;
  }
  .hero .hero__features--items::before {
    content: "";
    position: absolute;
    top: -25px;
    bottom: 0;
    left: 51%;
    width: 1px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(79, 102, 183, 0)), color-stop(#4f66b7), to(rgba(79, 102, 183, 0)));
    background: linear-gradient(to bottom, rgba(79, 102, 183, 0), #4f66b7, rgba(79, 102, 183, 0));
  }
  .hero .hero__features--items::after {
    content: "";
    position: absolute;
    top: 39%;
    right: 0;
    left: 110px;
    height: 1px;
    width: 500px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(79, 102, 183, 0)), color-stop(#4f66b7), to(rgba(79, 102, 183, 0)));
    background: linear-gradient(to right, rgba(79, 102, 183, 0), #4f66b7, rgba(79, 102, 183, 0));
  }
  .hero .hero__container .hero__content .hero__content--item {
    padding: 0 100px;
    gap: 95px;
  }
  .header .header__container {
    padding: 24px 122px;
  }
  .hero .hero__container .hero__main--title .hero__title {
    padding-top: 35px;
  }
  .professional .professional__intro-image {
    text-align: center;
  }
  .professional .professional__intro-image .professional__image {
    max-width: 90%;
  }
  .friendly__cards--items {
    justify-items: center;
    gap: 60px 80px;
  }
  .friendly__cards--items .friendly__card .friendly__card--info .friendly__card-subtitle {
    max-width: 410px;
  }
  .friendly__content--item .friendly-image {
    max-height: 75%;
  }
  .friendly__content .friendly__titles .friendly__titles--items .friendly__title {
    font-size: 3rem;
    text-align: center;
  }
  .works__content .works__hero--image .worker-image {
    max-width: 90%;
  }
  .works__content .works__hero--image {
    text-align: end;
  }
  .reviews .main__container {
    padding-left: 135px;
    padding-right: 135px;
  }
  .banner__content .banner__content--block .banner__block--info {
    padding-top: 65px;
  }
  .banner .main__container {
    left: 130px;
  }
  .hero .hero__decorations--items {
    top: 9px;
  }
}
@media screen and (width <= 1440px) {
  .professional .professional__intro-image .professional__image {
    max-width: 80%;
  }
  .professional .professional__intro-image {
    bottom: 20px;
  }
  .professional .professional__information .professional__titles--item .professional__title {
    font-size: 3rem;
    line-height: 115%;
  }
  .professional .professional__information .professional__titles--item .professional__subtitle {
    font-size: 1rem;
  }
  .professional .professional__information .professional__info--banner .banner__info--item .banner--info {
    font-size: 1rem;
  }
  .professional .professional__information .professional__info--banner .banner__info--item .banner--info-bold {
    font-size: 1.125rem;
  }
  .professional .professional__information {
    gap: 45px;
  }
  .professional .professional__content {
    padding-top: 115px;
  }
  .professional .professional__intro-image {
    text-align: end;
  }
  .professional .professional__information .professional__information--list .info--list {
    gap: 25px;
  }
  .services__content .services__titles--items .services__title {
    font-size: 3rem;
  }
  .services__content .services__cards--items .services__card {
    padding: 15px;
  }
  .services__content .more__services--item {
    padding: 24px;
  }
  .services__content .services__cards--items .services__card .services__card-info {
    gap: 15px;
  }
  .friendly__content .friendly__titles .friendly__titles--items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
  .friendly__content .friendly__titles .friendly__titles--items .friendly__subtitle {
    max-width: 713px;
    -moz-text-align-last: center;
         text-align-last: center;
  }
  .friendly__cards--items .friendly__card .friendly__card--image {
    max-width: 80px;
    max-height: 80px;
  }
  .friendly__cards--items .friendly__card .friendly__card--info .friendly__card--title {
    font-size: 1.375rem;
  }
  .friendly__cards--items .friendly__card .friendly__card--info .friendly__card-subtitle {
    font-size: 1rem;
  }
  .friendly__cards--items {
    gap: 35px 80px;
  }
  .friendly__content--item .friendly-image {
    max-height: 65%;
  }
  .friendly__right--item {
    position: relative;
    left: 10px;
  }
  .friendly__content {
    padding: 32px 0;
    padding-top: 45px;
    gap: 30px;
  }
  .works__content .works__information--block .works__information--title {
    font-size: 3rem;
  }
  .works__content .works__information--block .works__information--items .work__information--item .work__information--titles .heading__item {
    font-size: 1.25rem;
    max-width: 195px;
  }
  .works__content .works__information--block .works__information--items .work__information--item .work__information--titles .number__item {
    font-size: 3rem;
  }
  .works__content .works__information--block .works__information--items .work__information--item .work__information--subtitle {
    font-size: 1rem;
    max-width: 295px;
  }
  .works__content .works__information--block .works__information--items .work__information--item {
    gap: 60px;
  }
  .works__content .works__information--block .works__information--items {
    gap: 26px;
  }
  .works__content {
    padding-bottom: 70px;
  }
  .reviews__content .reviews__title--item .reviews__title {
    font-size: 3rem;
  }
  .reviews__content .reviews__block .reviews__block--subtitle {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .blog__content .blog__titles--items .blog__title {
    font-size: 3rem;
  }
  .blog__content .blog__titles--items .blog__subtitle {
    font-size: 1.375rem;
  }
  .blog__content .blog__cards--items .blog__card .blog__card--info .blog__card--title {
    font-size: 1.688rem;
  }
  .faq__content .faq__information--items .faq__title {
    font-size: 3rem;
  }
  .faq__content .faq__menu--items .faq__menu--item {
    width: 100%;
    max-width: 833px;
  }
  .faq__content {
    gap: 90px;
    padding-top: 120px;
    padding-bottom: 100px;
  }
  .faq__content .faq__information--items .faq__information--links .faq__help--link {
    font-size: 1.375rem;
  }
  .faq__content .faq__menu--items .faq__menu--item .faq__menu--title .menu__card--title,
  .faq__content .faq__menu--items .faq__menu--subitem .faq__menu--title .menu__card--title {
    font-size: 1.375rem;
  }
  .faq__content .faq__menu--items .faq__menu--subitem .faq__menu--title {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .banner__content .banner__content--block .banner__block--info .banner__title {
    font-size: 3rem;
    max-width: 545px;
    gap: 32px;
  }
  .banner .banner__hero--image .banner__image {
    height: 100%;
  }
  .hero .hero__container .hero__content .hero__content--item {
    padding: 0 70px;
  }
  .banner {
    min-height: 460px;
  }
  .hero .hero__features--items .features__item .features__item--title {
    max-width: 95px;
  }
}
@media screen and (width <= 1250px) {
  .left__decoration,
  .right__decoration {
    max-width: 350px;
  }
  .hero .hero__decorations--items {
    top: 4px;
  }
  .header .header__container {
    padding: 24px 35px;
  }
  .professional .professional__information {
    gap: 35px;
  }
  .professional .professional__information .professional__information--list .info--list .info__list--items .info__list-title {
    font-size: 1rem;
  }
  .professional .professional__information .professional__information--list .info--list {
    gap: 20px;
  }
  .services__content .services__cards--items {
    -ms-grid-columns: 1fr 50px 1fr 50px 1fr;
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
    row-gap: 40px;
  }
  .services__content .services__cards--items .services__card {
    padding: 0;
  }
  .friendly__content--item .friendly-image {
    display: none;
  }
  .friendly__cards--items {
    -ms-grid-columns: (450px)[2];
    grid-template-columns: repeat(2, 450px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .reviews .main__container {
    padding-left: 80px;
    padding-right: 80px;
  }
  .reviews__content .reviews__block {
    gap: 45px;
  }
  .reviews__content .reviews__block .reviews__block--subtitle {
    padding-top: 0;
  }
  .blog__content .blog__cards--items .blog__card .blog__card--info .blog__card--title {
    font-size: 1.563rem;
  }
  .blog__content .blog__cards--items {
    gap: 27px;
  }
  .faq__content .faq__menu--items .faq__menu--item .faq__menu--title .menu__card--title,
  .faq__content .faq__menu--items .faq__menu--subitem .faq__menu--title .menu__card--title {
    font-size: 1.25rem;
  }
  .banner .main__container {
    left: 70px;
  }
  .blog__content .blog__cards--items .blog__card .card__menu--buttons .menu__button {
    font-size: 0.75rem;
  }
  .blog__content .blog__titles--items {
    gap: 32px;
  }
  .services__content .services__cards--items .services__card {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services__content .services__cards--items .services__card .services__card-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services__content .services__cards--items .services__card .services__card-info .card__info-subtitle {
    text-align: center;
    -moz-text-align-last: center;
         text-align-last: center;
  }
  .hero .hero__container .hero__content .hero__content--item {
    padding: 0 30px;
  }
  .hero .hero__container .hero__main--title .hero__title {
    padding-top: 15px;
    font-size: 3.625rem;
  }
  .footer__content .footer__newsletter--block .newsletter__titles--items {
    padding-left: 35px;
  }
  .header .header__container .header__nav .nav .nav__menu .nav__menu--item .nav__menu--link,
  .header .header__container .header__nav .homepro__services--item .services__description {
    font-size: 1rem;
  }
  .header .header__container .header__nav .homepro__services--item .services__description::before {
    max-width: 10px;
    max-height: 10px;
  }
  .header .header__container .header__nav .header__logo .homepro__title--link .homepro__title {
    font-size: 1.25rem;
  }
  .header .header__container .header__nav .nav .nav__menu .nav__menu--item .nav__menu--link,
  .header .header__container .header__nav .homepro__services--item .services__description {
    font-size: 1rem;
  }
  .header .header__container {
    padding: 15px 35px;
  }
  .hero .hero__container .hero__content .hero__content--item .hero__content--block .hero__content--list .hero__list--item {
    font-size: 1.125rem;
  }
  .hero .hero__container .hero__content .hero__content--item .hero__content--block .hero__content--list .hero__list--item:not(.not-circle)::after {
    max-width: 6px;
    max-height: 6px;
  }
  .hero .hero__container .hero__check--items .check__item .check__title--item {
    font-size: 1.125rem;
  }
  .hero .hero__container .hero__main--title .hero__title {
    font-size: 3rem;
    max-width: 600px;
    line-height: 110%;
  }
  .hero .hero__button--item .hero__button {
    font-size: 1.375rem;
  }
  .hero .hero__button--item .hero__button .white__bg--circle {
    max-width: 38px;
    max-height: 38px;
  }
  .phone__icon {
    max-width: 20px;
    max-height: 20px;
  }
  .hero .hero__container .hero__content .hero__content--item .hero__content--block {
    padding-top: 50px;
  }
  .professional .professional__information .professional__titles--item .professional__title {
    font-size: 2.375rem;
    line-height: 100%;
  }
  .professional .professional__information .professional__titles--item {
    gap: 18px;
  }
  .professional .professional__information .professional__titles--item .professional__subtitle {
    line-height: 130%;
  }
  .professional .professional__information .professional__information--list .info--list .info__list--items .info__list-title {
    font-size: 1rem;
  }
  .professional .professional__information .professional__information--list .info--list {
    gap: 15px;
  }
  .professional .professional__intro-image .professional__image {
    max-width: 75%;
  }
  .professional .professional__information .professional__info--banner .banner__info--item .banner--info {
    line-height: 116%;
  }
  .professional .professional__information .professional__info--banner .banner__info--item {
    max-width: 400px;
  }
  .services__content .services__titles--items .services__title {
    font-size: 2.375rem;
  }
  .services__content .services__titles--items .serives__subtitle {
    font-size: 1rem;
    line-height: 135%;
  }
  .services__content .services__cards--items .services__card .services__card-info .card__info--title {
    font-size: 1.25rem;
  }
  .services__content .services__cards--items .services__card .services__card-info .card__info-subtitle {
    font-size: 1rem;
    max-width: 250px;
  }
  .services__content .services__cards--items {
    gap: 20px 40px;
  }
  .services__content .more__services--item {
    padding: 14px 16px;
    padding-top: 20px;
  }
  .services__content .more__services--item .more {
    max-width: 250px;
  }
  .friendly__content .friendly__titles .friendly__titles--items .friendly__title {
    font-size: 2.375rem;
  }
  .friendly__content .friendly__titles .friendly__titles--items {
    gap: 20px;
    padding-bottom: 40px;
  }
  .friendly__content .friendly__titles .friendly__titles--items .friendly__subtitle {
    font-size: 1rem;
    max-width: 630px;
  }
  .friendly__content .friendly__titles::after {
    max-width: 80%;
    margin: 0 auto;
  }
  .friendly__cards--items {
    -ms-grid-columns: (400px)[2];
    grid-template-columns: repeat(2, 400px);
  }
  .friendly__cards--items .friendly__card .friendly__card--info .friendly__card--title {
    font-size: 1.25rem;
  }
  .friendly__cards--items .friendly__card .friendly__card--info .friendly__card-subtitle {
    font-size: 1rem;
  }
  .works__content .works__information--block .works__information--title {
    font-size: 2.375rem;
  }
  .works__content .works__information--block .works__information--items .work__information--item .work__information--titles .heading__item {
    font-size: 1.125rem;
  }
  .works__content .works__information--block .works__information--items .work__information--item .work__information--titles .number__item {
    font-size: 2.5rem;
  }
  .works__content .works__information--block .works__information--items .work__information--item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px;
  }
  .works__content .works__information--block .works__information--items .work__information--item .work__information--titles {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .works__content .works__hero--image .worker-image {
    max-width: 75%;
  }
  .works__content .works__hero--image {
    margin-left: -140px;
  }
  .reviews .main__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .reviews__content .reviews__title--item .reviews__title {
    font-size: 2.375rem;
  }
  .reviews__content .reviews__block .reviews__block--subtitle .reviews__subtitle {
    font-size: 1.125rem;
    max-width: 650px;
  }
  .reviews__content .reviews__block .reviews__block--subtitle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .profile__image {
    max-width: 56px;
    max-height: 56px;
  }
  .reviews__content .reviews__block .reviews__profile--item .reviews__profile--rating .profile__title {
    font-size: 1.25rem;
  }
  .gold__star--icon,
  .white__star--icon {
    max-width: 24px;
    max-height: 24px;
  }
  .blog__content .blog__titles--items .blog__title {
    font-size: 2.375rem;
  }
  .blog__content .blog__titles--items .blog__subtitle {
    font-size: 1.125rem;
    max-width: 470px;
  }
  .blog__content .blog__cards--items .blog__card .blog__card--info .blog__card--title {
    font-size: 1.375rem;
  }
  .blog__content .blog__cards--items .blog__card .blog__card--info .blog__card--subtitle {
    font-size: 1rem;
  }
  .blog__content .blog__cards--items .blog__card .card__menu--buttons .menu__button {
    font-size: 0.75rem;
  }
  .blog__content .blog__cards--items .blog__card .blog__card--image {
    max-width: 90%;
  }
  .blog__content .blog__cards--items .blog__card .blog__card--info .card__date {
    font-size: 1rem;
  }
  .blog__content .view__more--item .view {
    font-size: 1.375rem;
  }
  .faq__content .faq__information--items .faq__title {
    font-size: 2.375rem;
  }
  .faq__content .faq__menu--items .faq__menu--item .faq__menu--title .menu__card--title,
  .faq__content .faq__menu--items .faq__menu--subitem .faq__menu--title .menu__card--title {
    font-size: 1.125rem;
  }
  .faq__content .faq__menu--items .faq__menu--subitem .faq__menu--title {
    padding: 18px 32px;
  }
  .faq__content .faq__menu--items .faq__menu--item .faq__menu--subtitle {
    font-size: 1rem;
  }
  .banner__content .banner__content--block .banner__block--info .banner__title {
    font-size: 2.375rem;
  }
  .banner__content .banner__content--block .banner__block--info .hero__check--items .check__item .check__title--item {
    font-size: 1.125rem;
  }
  .banner {
    min-height: 380px;
  }
  .banner__content .banner__content--block .banner__decoration--item .decoration__item {
    max-width: 420px;
  }
  .footer__content .footer__newsletter--block .newsletter__titles--items .newsletter__title {
    font-size: 1.25rem;
  }
  .footer__content .footer__newsletter--block .newsletter__titles--items .newsletter__subtitle {
    font-size: 1rem;
  }
  .footer__content .footer__newsletter--block .newsletter__form {
    max-width: 435px;
  }
  .footer__content .footer__newsletter--block .newsletter__titles--items {
    padding-right: 35px;
    gap: 5px;
  }
  .footer__content .footer__navigation .footer__nav .company__menu .company__menu--title,
  .footer__content .footer__navigation .footer__nav .legal__menu .legal__menu--title {
    font-size: 1.25rem;
  }
  .footer__content .footer__navigation .footer__nav .company__menu .company__menu--item .company__menu--link,
  .footer__content .footer__navigation .footer__nav .legal__menu .legal__menu--item .legal__menu--link {
    font-size: 1.125rem;
  }
  .footer__content .footer__navigation .footer__nav .company__menu,
  .footer__content .footer__navigation .footer__nav .legal__menu {
    gap: 8px;
  }
  .footer__content .footer__navigation .footer__bottom--block .footer__logo .footer__bottom--title {
    font-size: 1.5rem;
  }
  .hero .hero__container .hero__content .hero__content--item {
    padding: 0;
  }
  .hero .hero__features--items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
  .hero .hero__features--items::after {
    left: 50px;
  }
  .hero .hero__container .hero__content .hero__content--item {
    gap: 50px;
  }
  .hero .hero__container .hero__main--title .hero__title {
    font-size: 3.5rem;
  }
}
@media screen and (width <= 1145px) {
  .blog__content .blog__cards--items {
    -ms-grid-columns: (300px)[3];
    grid-template-columns: repeat(3, 300px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog__content .blog__cards--items .blog__card .card__menu--buttons .menu__button {
    font-size: 0.625rem;
  }
  .blog__content .blog__cards--items .blog__card .card__menu--buttons {
    gap: 8px;
  }
  .faq__content .faq__information--items .faq__information--links .faq__help--item {
    font-size: 1.125rem;
  }
  .faq__content .faq__information--items .faq__information--links .faq__help--link {
    font-size: 1.25rem;
  }
  .arrow__right,
  .arrow__left {
    max-width: 18px;
    max-height: 18px;
  }
  .reviews__content .reviews__block .reviews__block--subtitle .menu__arrow-right,
  .reviews__content .reviews__block .reviews__block--subtitle .menu__arrow--left {
    padding: 10px;
    max-width: 40px;
    max-height: 40px;
  }
  .footer__content .footer__navigation .footer__bottom--block .footer__bottom--subtitle {
    font-size: 1rem;
    max-width: 335px;
    line-height: 135%;
  }
  .footer__content .footer__newsletter--block .newsletter__form .newsletter__email--item::-webkit-input-placeholder {
    font-size: 1rem;
  }
  .footer__content .footer__newsletter--block .newsletter__form .newsletter__email--item::-moz-placeholder {
    font-size: 1rem;
  }
  .footer__content .footer__newsletter--block .newsletter__form .newsletter__email--item:-ms-input-placeholder {
    font-size: 1rem;
  }
  .footer__content .footer__newsletter--block .newsletter__form .newsletter__email--item::-ms-input-placeholder {
    font-size: 1rem;
  }
  .footer__content .footer__newsletter--block .newsletter__form .newsletter__email--item::placeholder {
    font-size: 1rem;
  }
  .footer__content .footer__newsletter--block .newsletter__form .subscribe {
    padding: 10px 30px;
    font-size: 1rem;
  }
}
@media screen and (width <= 1040px) {
  .professional .professional__intro-image {
    max-width: 450px;
  }
  .friendly__cards--items .friendly__card .friendly__card--info .friendly__card--title {
    font-size: 1.125rem;
  }
  .friendly__cards--items .friendly__card .friendly__card--info .friendly__card-subtitle {
    font-size: 0.95rem;
  }
  .friendly__cards--items {
    gap: 25px 40px;
  }
  .blog__content .blog__cards--items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
  .blog__content .blog__cards--items .blog__card .blog__card--image {
    max-width: 75%;
  }
  .blog__content .blog__cards--items .blog__card .blog__card--info .blog__card--title {
    max-width: 400px;
  }
  .blog__content .blog__cards--items .blog__card .card__menu--buttons .menu__button {
    font-size: 1rem;
  }
}
@media screen and (width <= 992px) {
  .professional .professional__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .professional .professional__intro-image {
    text-align: center;
  }
  .professional .professional__intro-image .professional__image {
    max-width: 95%;
  }
  .professional .professional__content {
    padding-top: 85px;
  }
  .friendly__cards--items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .friendly__cards--items .friendly__card {
    gap: 64px;
  }
  .friendly__content .friendly__titles .friendly__titles--items .friendly__title {
    font-size: 2.125rem;
  }
  .friendly__content .friendly__titles .friendly__titles--items .friendly__subtitle {
    font-size: 0.875rem;
  }
  .works__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 35px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .works__content .works__hero--image .worker-image {
    max-width: 75%;
  }
  .works__content .works__information--block .works__information--items .work__information--item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .works__content .works__information--block .works__information--items .work__information--item .work__information--titles .heading__item {
    font-size: 1.375rem;
  }
  .works__content .works__information--block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .works__content {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .works__content .works__hero--image {
    margin-left: -180px;
  }
  .reviews .main__container {
    padding-left: 0;
    padding-right: 0;
  }
  .blog__content .blog__cards--items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 70px;
  }
  .blog__content .blog__cards--items .blog__card {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog__content .blog__cards--items .blog__card .blog__card--info .blog__card--title {
    text-align: center;
  }
  .blog__content .blog__cards--items .blog__card .blog__card--info .blog__card--title {
    font-size: 1.5rem;
  }
  .faq__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .faq__content .faq__information--items {
    max-width: 540px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner .banner__hero--image .banner__image {
    max-width: 75%;
  }
  .banner__hero--image {
    text-align: right;
  }
  .footer__content .footer__newsletter--block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  .footer__content .footer__newsletter--block .newsletter__titles--items {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .footer__content .footer__newsletter--block .newsletter__titles--items .newsletter__title {
    font-size: 1.5rem;
  }
  .banner .main__container {
    left: 15px;
  }
  .services__content .services__cards--items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }
  .friendly__cards--items {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (width <= 760px) {
  .hero .hero__container .hero__content .hero__right--item .hero__right--image,
  .hero .hero__container .hero__content .hero__left--item .hero__left--image {
    display: none;
  }
  .friendly__content .friendly__titles .friendly__titles--items .friendly__subtitle {
    max-width: 500px;
  }
  .friendly__cards--items {
    gap: 50px;
  }
  .footer__content .footer__navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__content .footer__navigation .footer__nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 100px;
  }
  .banner .main__container {
    max-width: 530px;
  }
  .left__decoration,
  .right__decoration {
    max-width: 240px;
  }
  .hero .hero__decorations--items {
    top: 2px;
  }
  .footer__content .footer__navigation {
    padding-bottom: 20px;
  }
  .hero .hero__features--items {
    padding-left: 0;
    padding-right: 0;
  }
  .hero__right--image,
  .hero__left--image {
    display: none;
  }
  .works {
    padding: 0 30px;
  }
}
@media screen and (width <= 600px) {
  .friendly__cards--items .friendly__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .friendly__cards--items .friendly__card .friendly__card--info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .friendly__cards--items .friendly__card {
    gap: 32px;
  }
  .friendly__content .friendly__titles .friendly__titles--items .friendly__subtitle {
    max-width: 380px;
  }
  .blog__content .blog__cards--items .blog__card .blog__card--info .card__date {
    text-align: center;
  }
  .faq__content .faq__information--items .faq__title {
    text-align: center;
  }
  .footer__content .footer__newsletter--block .newsletter__titles--items .newsletter__title {
    text-align: center;
  }
  .footer__content .footer__newsletter--block .newsletter__titles--items .newsletter__subtitle {
    -moz-text-align-last: center;
         text-align-last: center;
  }
  .services__content .services__cards--items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 65px;
  }
  .hero .hero__container .hero__content .hero__content--item {
    max-width: 550px;
  }
  .header .header__container .header__nav .nav .nav__menu .nav__menu--item .nav__menu--link,
  .header .header__container .header__nav .homepro__services--item .services__description {
    display: none;
  }
  .header .header__container {
    padding: 15px 30px;
  }
  .header .header__container .header__nav .header__logo .homepro__title--link .homepro__title {
    font-size: 1.5rem;
  }
  .footer__copyright .footer__copy {
    font-size: 1.25rem;
  }
  .friendly__cards--items .friendly__card .friendly__card--info .friendly__card-subtitle {
    max-width: 300px;
    text-align: center;
  }
  .services__content .more__services--item .more {
    max-width: 300px;
  }
  .reviews__content .reviews__block .reviews__block--subtitle .menu__arrow-right,
  .reviews__content .reviews__block .reviews__block--subtitle .menu__arrow--left {
    display: none;
  }
  .reviews .main__container {
    padding-left: 0;
    padding-right: 0;
  }
  .works__content .works__information--block .works__information--items .work__information--item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (width <= 575px) {
  .hero .hero__container .hero__content .hero__content--item {
    max-width: 515px;
  }
  .hero .hero__features--items::after {
    max-width: 450px;
  }
  .banner__content .banner__content--block .banner__block--info .banner__title {
    font-size: 2.125rem;
  }
  .banner .main__container {
    max-width: 425px;
  }
  .hero .hero__features--items::after {
    left: 20px;
  }
  .hero .hero__container .hero__main--title .hero__title {
    font-size: 2.625rem;
  }
  .hero .hero__container .hero__content .hero__content--item .hero__content--block .hero__content--list .hero__list--item {
    font-size: 1rem;
  }
  .footer__content .footer__newsletter--block .newsletter__form {
    max-width: 355px;
  }
  .hero .hero__features--items {
    -ms-grid-columns: (150px)[2];
    grid-template-columns: repeat(2, 150px);
  }
  .left__decoration,
  .right__decoration {
    max-width: 200px;
  }
  .professional .professional__information .professional__information--list {
    gap: 35px;
  }
  .friendly__content .friendly__titles .friendly__titles--items .friendly__title {
    font-size: 2rem;
  }
  .friendly__content .friendly__titles .friendly__titles--items .friendly__subtitle {
    max-width: 300px;
    text-align: center;
  }
  .reviews__content .reviews__title--item .reviews__title {
    font-size: 2.125rem;
  }
}
@media screen and (width <= 505px) {
  .hero .hero__features--items::after {
    left: -15px;
  }
  .hero .hero__features--items {
    gap: 50px 70px;
  }
  .hero .hero__container .hero__content .hero__content--item {
    max-width: 425px;
  }
  .hero .hero__features--items::after {
    max-width: 400px;
    left: 15px;
  }
  .hero .hero__container .hero__check--items .check__item .check__title--item {
    font-size: 1rem;
  }
  .banner__content .banner__content--block .banner__block--info .hero__check--items .check__item .check__title--item {
    font-size: 1rem;
  }
  .footer__content .footer__newsletter--block .newsletter__form {
    max-width: 325px;
  }
  .banner .banner__hero--image .banner__image {
    max-width: 100%;
  }
  .banner {
    gap: 15px;
  }
  .banner__content .banner__content--block .banner__block--info .banner__title {
    text-align: center;
  }
  .banner__content .banner__content--block .banner__decoration--item .decoration__item {
    max-width: 370px;
  }
  .banner__content .banner__content--block .banner__decoration--item .decoration__item {
    margin-top: -1px;
  }
  .left__decoration,
  .right__decoration {
    display: none;
  }
  .mobile__decorations--items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .professional .professional__information .professional__info--banner .banner__info--item {
    max-width: 330px;
    -moz-text-align-last: center;
         text-align-last: center;
  }
  .professional .professional__information .professional__info--banner .banner__info--item .banner--info {
    line-height: 120%;
  }
}
@media screen and (width <= 455px) {
  .header > .header__container {
    padding: 10px 20px;
  }
  .hero .hero__container .hero__content .hero__content--item .hero__content--block {
    padding-top: 24px;
  }
  .hero .hero__container .hero__content .hero__content--item .hero__content--block .hero__content--list .hero__list--item {
    font-size: 0.875rem;
  }
  .hero .hero__container .hero__main--title .hero__title {
    font-size: 2rem;
    padding-top: 0px;
    max-width: 330px;
  }
  .hero .hero__container .hero__check--items .check__item .check__title--item {
    font-size: 0.875rem;
  }
  .check__item--icon {
    max-width: 16px;
    max-height: 16px;
  }
  .hero .hero__container .hero__check--items {
    gap: 24px;
    padding-bottom: 24px;
  }
  .hero .hero__button--item .hero__button {
    font-size: 1.125rem;
    padding: 6px 8px 6px 24px;
  }
  .features-icon {
    max-width: 16px;
    max-height: 16px;
  }
  .hero .hero__features--items .features__item .features__bg--item {
    max-width: 32px;
    max-height: 32px;
  }
  .hero .hero__features--items .features__item .features__item--title {
    font-size: 0.875rem;
    text-align: center;
  }
  .hero .hero__features--items .features__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .hero .hero__features--items {
    -ms-grid-columns: 140px 55px 140px;
    grid-template-columns: repeat(2, 140px);
    gap: 32px 55px;
  }
  .hero .hero__features--items::after {
    max-width: 280px;
    left: 75px;
    top: 42%;
  }
  .hero .hero__features--items::before {
    max-height: 217px;
    top: 0px;
  }
  .professional,
  .services,
  .blog,
  .faq,
  .footer,
  .works,
  .reviews {
    padding: 0 24px;
  }
  .professional .professional__content {
    padding: 60px 0px 32px 0px;
  }
  .professional .professional__information .professional__titles--item .professional__title {
    font-size: 1.5rem;
    line-height: 133.333%;
  }
  .professional .professional__information .professional__titles--item {
    gap: 12px;
  }
  .professional .professional__information .professional__titles--item .professional__subtitle {
    font-size: 1.125rem;
    line-height: 155.556%;
    text-align: left;
    max-width: 328px;
  }
  .professional .professional__content {
    gap: 32px;
  }
  .professional .professional__information {
    gap: 32px;
  }
  .professional .professional__information .professional__information--list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .professional .professional__information .professional__information--list .info--list {
    gap: 24px;
  }
  .professional .professional__information .professional__information--list .info--list .info__list--items .info__list-title {
    font-size: 1rem;
  }
  .professional .professional__information .professional__info--banner .banner__info--item {
    max-width: 327px;
    padding: 12px 24px;
    border-radius: 12px;
    -moz-text-align-last: left;
         text-align-last: left;
  }
  .professional .professional__information .professional__info--banner .banner__info--item .banner--info {
    text-align: left;
    font-size: 1.125rem;
  }
  .hero .hero__container .hero__content .hero__content--item {
    max-width: 375px;
  }
  .banner .main__container {
    max-width: 320px;
  }
  .banner__content .banner__content--block .banner__decoration--item .decoration__item {
    max-width: 280px;
  }
  .hero .hero__container .hero__content .hero__content--item {
    max-width: 320px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services__content {
    padding: 32px 0;
  }
  .services__content .services__titles--items .services__title {
    font-size: 2rem;
  }
  .services__content .services__titles--items {
    gap: 12px;
  }
  .services__content .services__titles--items .serives__subtitle {
    font-size: 1.125rem;
    text-align: center;
    line-height: 155.556%;
  }
  .services__content {
    gap: 32px;
  }
  .services__content .services__cards--items {
    row-gap: 40px;
    margin: 0 auto;
  }
  .services__content .services__cards--items .services__card .services__card-info .card__info--title {
    font-size: 1.5rem;
  }
  .services__content .services__cards--items .services__card .services__card-info {
    gap: 12px;
  }
  .services__content .services__cards--items .services__card .services__card-info .card__info-subtitle {
    text-align: center;
    font-size: 1.125rem;
    max-width: 304px;
  }
  .services__content .more__services--item {
    padding: 32px;
    max-width: 327px;
  }
  .services__content .more__services--item .more {
    max-width: 267px;
    font-size: 1.125rem;
  }
  .friendly {
    margin: 20px 24px;
  }
  .friendly__content {
    padding: 32px;
    gap: 52px;
  }
  .friendly__content .friendly__titles .friendly__titles--items .friendly__title {
    font-size: 1.5rem;
    text-align: center;
    max-width: 202px;
  }
  .friendly__content .friendly__titles .friendly__titles--items {
    gap: 12px;
    padding-bottom: 25px;
  }
  .friendly__content .friendly__titles .friendly__titles--items .friendly__subtitle {
    max-width: 263px;
    font-size: 1.125rem;
  }
  .friendly__cards--items .friendly__card {
    gap: 12px;
  }
  .friendly__cards--items .friendly__card .friendly__card--info .friendly__card-subtitle {
    max-width: 263px;
    font-size: 1.125rem;
    line-height: 155.556%;
  }
  .works__content {
    padding: 32px 0;
    gap: 24px;
  }
  .works__content .works__information--block .works__information--title {
    font-size: 1.5rem;
    max-width: 175px;
  }
  .works__content .works__information--block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .works__content .works__information--block .works__information--items .work__information--item .work__information--titles .number__item {
    font-size: 3.25rem;
  }
  .works__content .works__information--block .works__information--items .work__information--item .work__information--titles .heading__item {
    font-size: 1.5rem;
  }
  .works__content .works__information--block .works__information--items .work__information--item .work__information--subtitle {
    font-size: 1.125rem;
    max-width: 327px;
  }
  .reviews .main__container {
    padding: 32px 0px;
  }
  .reviews__content .reviews__title--item .reviews__title {
    font-size: 1.5rem;
    text-align: center;
    max-width: 327px;
  }
  .reviews__content {
    gap: 32px;
  }
  .reviews__content .reviews__block .reviews__block-logo .trustpilot__logo {
    padding-top: 0px;
    padding-bottom: 24px;
    max-width: 133px;
  }
  .reviews__content .reviews__block .reviews__block--subtitle .reviews__subtitle {
    max-width: 327px;
    text-align: center;
  }
  .reviews__content .reviews__block .reviews__block--subtitle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .reviews__content .reviews__block {
    gap: 24px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero .hero__container .hero__content .hero__content--item {
    max-width: 375px;
  }
  .hero .hero__features--items {
    padding-left: 0;
    padding-right: 0;
  }
  .hero .hero__features--items::after {
    left: 32px;
  }
  .hero .hero__container .hero__content .hero__content--item .hero__content--block .hero__content--list {
    gap: 7px;
  }
  .blog__content {
    padding: 48px 0px;
    gap: 32px;
  }
  .blog__content .blog__titles--items .blog__title {
    font-size: 2rem;
  }
  .blog__content .blog__titles--items {
    gap: 16px;
    max-width: 327px;
  }
  .blog__content .blog__titles--items .blog__subtitle {
    max-width: 324px;
  }
  .blog__content .blog__cards--items .blog__card .blog__card--image {
    max-width: 100%;
  }
  .blog__content .blog__cards--items .blog__card .blog__card--info .card__date {
    text-align: left;
    font-size: 1.125rem;
  }
  .blog__content .blog__cards--items .blog__card {
    gap: 16px;
  }
  .blog__content .blog__cards--items .blog__card .blog__card--info .blog__card--title {
    font-size: 1.25rem;
    max-width: 327px;
    text-align: left;
  }
  .blog__content .blog__cards--items .blog__card .blog__card--info .blog__card--subtitle {
    font-size: 1.125rem;
  }
  .blog__content .blog__cards--items .blog__card .card__menu--buttons .menu__button {
    font-size: 0.875rem;
    padding: 8px 16px;
  }
  #not__item--mobile {
    display: none;
  }
  .faq__content {
    padding: 32px 0px;
    gap: 32px;
  }
  .faq__content .faq__information--items .faq__title {
    font-size: 1.5rem;
  }
  .faq__content .faq__information--items {
    gap: 16px;
  }
  .faq__content .faq__information--items .faq__information--links .faq__help--link {
    font-size: 1.125rem;
  }
  .faq__content .faq__menu--items {
    gap: 12px;
  }
  .faq__content .faq__menu--items .faq__menu--item .faq__menu--title .menu__card--title,
  .faq__content .faq__menu--items .faq__menu--subitem .faq__menu--title .menu__card--title {
    color: #3A3A3A;
  }
  .faq__content .faq__menu--items .faq__menu--subitem .faq__menu--title {
    gap: 12px;
  }
  .banner__content .banner__content--block .banner__block--info .banner__title {
    font-size: 1.5rem;
    max-width: 269px;
  }
  .banner__content .banner__content--block .banner__block--info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner__content .banner__content--block .banner__block--info .hero__check--items .check__item .check__title--item {
    font-size: 0.875rem;
  }
  .banner__content .banner__content--block .banner__block--info .hero__check--items {
    gap: 24px;
  }
  .banner .main__container {
    max-width: 327px;
  }
  .banner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__content {
    padding-top: 36px;
  }
  .footer__content .footer__navigation {
    padding: 30px 0px;
  }
  .footer__content .footer__newsletter--block .newsletter__form {
    max-width: 265px;
  }
  .footer__content .footer__newsletter--block .newsletter__form .newsletter__email--item {
    max-width: 105px;
  }
  .footer__copyright .footer__copy {
    font-size: 1.125rem;
  }
  .footer {
    padding: 0px;
  }
  .footer__content {
    padding-left: 24px;
    padding-right: 24px;
  }
  .footer__content .footer__newsletter--block {
    padding: 20px;
  }
  .footer__content .footer__newsletter--block .newsletter__titles--items {
    gap: 12px;
  }
  .footer__content .footer__newsletter--block .newsletter__titles--items {
    padding-right: 0;
    padding-left: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__content .footer__newsletter--block .newsletter__titles--items .newsletter__title {
    text-align: left;
  }
  .footer__content .footer__newsletter--block .newsletter__titles--items .newsletter__subtitle {
    -moz-text-align-last: left;
         text-align-last: left;
    text-align: left;
    font-size: 1.125rem;
  }
  .footer__content .footer__newsletter--block {
    gap: 24px;
  }
  .footer__content .footer__newsletter--block .newsletter__form .subscribe {
    padding: 8px 16px;
  }
  .hero .hero__container .hero__content .hero__content--item .hero__content--block .hero__content--list .hero__list--item {
    gap: 15px;
  }
  .hero .hero__container .hero__content .hero__content--item .hero__content--block .hero__content--list .hero__list--item:not(.not-circle)::after {
    max-width: 4px;
    max-height: 4px;
  }
}
@media screen and (width <= 351px) {
  .hero .hero__features--items {
    -ms-grid-columns: (100px)[2];
    grid-template-columns: repeat(2, 100px);
  }
  .hero .hero__features--items::after {
    left: 8px;
    max-width: 255px;
  }
  .banner .main__container {
    max-width: 290px;
  }
  .hero .hero__container .hero__check--items {
    gap: 15px;
  }
  .services__content .more__services--item {
    max-width: 300px;
  }
  .works__content .works__hero--image .worker-image {
    max-width: 65%;
  }
  .footer__content .footer__newsletter--block .newsletter__form {
    max-width: 240px;
  }
  .hero .hero__container .hero__main--title .hero__title {
    font-size: 1.75rem;
  }
  .hero .hero__container .hero__content .hero__content--item .hero__content--block .hero__content--list .hero__list--item {
    font-size: 0.75rem;
  }
  .hero .hero__container .hero__check--items .check__item .check__title--item {
    font-size: 0.75rem;
  }
  .services__content .services__cards--items .services__card .services__card-info .card__info-subtitle {
    max-width: 265px;
  }
  .footer__copyright .footer__copy {
    font-size: 1rem;
  }
  .footer__content .footer__navigation .footer__nav {
    gap: 80px;
  }
  .banner__content .banner__content--block .banner__block--info {
    position: relative;
    left: -15px;
  }
  .footer__content .footer__newsletter--block .newsletter__titles--items .newsletter__title {
    font-size: 1.438rem;
  }
  .footer__content .footer__newsletter--block .newsletter__titles--items .newsletter__subtitle {
    font-size: 1rem;
  }
  .banner__content .banner__content--block .banner__block--info .hero__check--items .check__item .check__title--item {
    font-size: 0.75rem;
  }
  .banner__content .banner__content--block .banner__decoration--item .decoration__item {
    max-width: 250px;
  }
  .services__content .more__services--item {
    max-width: 270px;
  }
  .services__content .more__services--item .more {
    max-width: 230px;
  }
}