$primary-background: #142257;
$primary-white: #fff;
$primary-orange: #ff5e5e;
$primary-gray: #9ea3b5;
$primary-sky-blue: #15b2f5;
$primary-dark-blue-2: #1f3584;
$primary-black: #171921;
$primary-gray-2: #545971;
$primary-soft-gray: #e3e6f0;
$primary-light-gray: #f3f5f9;
$primary-light-green: #737373;