$primary-background: #142257;
$primary-white: #fff;
$primary-orange: #ff5e5e;
$primary-gray: #9ea3b5;
$primary-sky-blue: #15B2F5;
$primary-dark-blue-2: #1F3584;
$primary-black: #171921;
$primary-gray-2: #545971;
$primary-soft-gray: #E3E6F0;