@import 'variables';
@import 'colors';

.header {
  background: $primary-background;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 13px;
    cursor: pointer;

    &--title {
      font-weight: 700;
      color: $primary-white;
      font-size: $--primary-logo;
    }
  }

  &__nav {
    &--menu {
      display: flex;
      align-items: center;
      gap: 57px;

      &-item_link {
        font-size: $--primary-frist;
        color: $primary-white;
        font-weight: 700;
        line-height: 133%;
        position: relative;
        transition: all 0.3s ease-in-out 0s;
        &::after {
          content: '';
          position: absolute;
          left: 50%;
          bottom: -4px;
          width: 0;
          height: 2.5px;
          border-radius: 2px;
          opacity: 0;
          background-color: $primary-white;
          transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out,
            left 0.3s ease-in-out;
          transform: translateX(-50%);
        }
      }
    }

    &--close {
      display: none;
      background: transparent;
      border: none;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 25px;
      right: 40px;
      cursor: pointer;
      transition: background 0.3s ease;
      z-index: 60;
    }

    &--close-item {
      display: block;
      position: relative;
      width: 30px;
      height: 3px;
      background: $primary-white;
      border-radius: 10px;
      transform: rotate(45deg);
      transition: transform 0.3s ease;

      &::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        background: $primary-white;
        border-radius: 10px;
        transform: rotate(90deg);
        top: 0;
        left: 0;
      }
    }
  }

  &__services {
    display: flex;
    align-items: center;
    gap: 20px;

    &--title {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 700;
      line-height: 133%;
      color: $primary-white;

      &::before {
        content: '';
        display: block;
        border-radius: 100%;
        width: 12px;
        height: 12px;
        background: $primary-orange;
      }
    }
  }

  .header__burger-menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .header__burger-menu--line {
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 10px;
    background: $primary-white;
    margin: 5px auto;
    transition: all 0.3s ease;
  }

  .burger__logo {
    position: absolute;
    top: 25px;
    left: 45px;
  }

  @media (max-width: 1000px) {
    .header__burger-menu {
      display: block;
    }

    .header__nav {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      z-index: 50;
      top: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      background: $primary-background;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      padding: 20px;
      overflow-y: auto;
      opacity: 0;
      transform: translateY(-100%);
      visibility: hidden;
      animation: menuSlideOut 0.3s ease-out forwards;

      &.active {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
        animation: menuSlideIn 0.3s ease-out forwards;
        padding-bottom: 0;
      }

      &--close {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &--close-item {
        display: block;
        position: relative;
        width: 30px;
        height: 3px;
        background: $primary-white;
        border-radius: 10px;
        transform: rotate(45deg);
        transition: transform 0.3s ease;

        &::before {
          content: '';
          position: absolute;
          width: 30px;
          height: 3px;
          background: $primary-white;
          border-radius: 10px;
          transform: rotate(90deg);
          top: 0;
          left: 0;
        }
      }

      &--menu {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin: 0;

        &-item {
          padding: 15px 20px;
        }

        &-item_link {
          text-decoration: none;
          color: $primary-white;
          font-size: 24px;
        }
      }
    }
  }
}

.header__nav--menu-item_link:hover::after {
  width: 100%;
  opacity: 1;
}

.burger__services {
  position: absolute;
  bottom: 30px;
}

@keyframes menuSlideIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes menuSlideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.burger__services {
  display: flex;
  align-items: center;
  gap: 20px;

  &--title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    line-height: 133%;
    color: $primary-white;

    &::before {
      content: '';
      display: block;
      border-radius: 100%;
      width: 12px;
      height: 12px;
      background: $primary-orange;
    }
  }
}

@media (min-width: 1000px) {
  .burger__logo,
  .burger__services {
    display: none;
  }
}

@media (max-width: 1100px) {
}

@media (max-width: 450px) {
  .header .burger__logo {
    left: 20px;
  }
  .header__nav--close {
    right: 20px;
  }
  .header__services--title {
    display: none;
  }
}
