@import "variables";
@import "colors";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: $primary-background;
  & .header__container {
    width: 100%;
    max-width: 1920px;
    padding: 24px 160px;
    margin: 0 auto;
    & .header__nav {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      & .header__logo {
        display: flex;
        align-items: center;
        gap: 8px;
        & .homepro__title--link {
          & .homepro__title {
            color: $primary-white;
            font: {
              size: $--primary-logo;
              weight: 800;
            }
          }
        }
      }
      & .nav {
        & .nav__menu {
          display: flex;
          align-items: center;
          gap: 57px;
          & .nav__menu--item {
            & .nav__menu--link {
              color: $primary-white;
              line-height: 133.333%;
              font: {
                size: $--primary-frist;
                weight: 700;
              }
            }
          }
        }
      }
      & .homepro__services--item {
        display: flex;
        gap: 20px;
        align-items: center;
        & .services__description {
          position: relative;
          line-height: 13.333%;
          color: $primary-white;
          font: {
            size: $--primary-frist;
            weight: 700;
          }
          &::before {
            content: "";
            position: absolute;
            top: -3px;
            left: -20px;
            display: block;
            width: 12px;
            height: 12px;
            border-radius: 100%;
            background: $primary-orange;
          }
        }
      }
    }
  }
}

.header__burger {
  display: flex;
  flex-direction: column;
  gap: 4px;
  & .burger__menu--item {
    display: block;
    width: 30px;
    height: 3.5px;
    background: $primary-white;
    border-radius: 12px;
  }
}

@media screen and (width > 1024px) {
  .header__burger {
    display: none;
  }
}
