$--primary-frist: 18px;
$--primary-logo: 24px;
$--primary-secondary: 20px;
$--primary-title: 64px;
$--primary-third: 52px;
$--primary-four: 32px;
$--primary-five: 1rem;
$--primary-six: 16px;

$--media-first: 48px;
$--media-secondary: 22px;
$--media-third: 27px;
$--media-four: 25px;
$--media-five: 12px;
$--media-six: 58px;
$--media-seven: 38px;
$--media-eight: 40px;
$--media-nine: 10px;
$--media-ten: 34px;
$--media-eleven: 14px;

$--media-title: 42px;
$--media-hero-title: 32px;
$--media-hero-secondary: 28px;
$--media-list-title: 12px;
$--media-news-title: 23px;
$--media-footer-list: 13px;