$--primary-frist: 1.125rem;
$--primary-logo: 1.5rem;
$--primary-secondary: 1.25rem;
$--primary-title: 4rem;
$--primary-third: 3.25rem;
$--primary-four: 2rem;
$--primary-five: 1rem;
$--primary-six: 1rem;

$--media-first: 3rem;
$--media-secondary: 1.375rem;
$--media-third: 1.688rem;
$--media-four: 1.563rem;
$--media-five: 0.75rem;
$--media-six: 3.625rem;
$--media-seven: 2.375rem;
$--media-eight: 2.5rem;
$--media-nine: 0.625rem;
$--media-ten: 2.125rem;
$--media-eleven: 0.875rem;

$--media-title: 2.625rem;
$--media-hero-title: 2rem;
$--media-hero-secondary: 1.75rem;
$--media-list-title: 0.75rem;
$--media-news-title: 1.438rem;
$--media-footer-list: 0.813rem;