@import "reset";
@import "header";
@import "footer";
@import "variables";
@import "colors";
@import "mixins";
@import "media";

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.hero {
  background: $primary-background;
  & .hero__container {
    & .hero__content {
      padding: 80px 16px 0px 16px;
      display: grid;
      grid-template-columns: repeat(1, auto 1fr auto);
      & .hero__left--item {
        max-height: 836px;
        & .hero__left--image {
          width: 100%;
          max-width: 412px;
          height: 100%;
          object-fit: cover;
          border-radius: 24px;
          border-bottom-right-radius: 0;
        }
      }
      & .hero__content--item {
        display: flex;
        flex-direction: column;
        gap: 152px;
        & .hero__content--block {
          padding-top: 162px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 24px;
          & .hero__content--list {
            display: flex;
            align-items: center;
            gap: 25px;
            & .hero__list--item {
              display: flex;
              align-items: center;
              gap: 25px;
              color: $primary-gray;
              font: {
                size: $--primary-secondary;
                weight: 700;
              }
              line-height: 140%;
              &:not(.not-circle)::after {
                content: "";
                position: relative;
                top: 1.5px;
                display: block;
                width: 8px;
                height: 8px;
                background: $primary-gray;
                border-radius: 50%;
              }
            }
          }
        }
      }
      & .hero__right--item {
        max-height: 836px;
        & .hero__right--image {
          width: 100%;
          max-width: 412px;
          height: 100%;
          object-fit: cover;
          border-radius: 24px;
          border-bottom-left-radius: 0;
        }
      }
    }
    & .hero__main--title {
      & .hero__title {
        max-width: 673px;
        text-align: center;
        line-height: 118.75%;
        color: $primary-white;
        font: {
          size: $--primary-title;
          weight: 800;
        }
      }
    }
    & .hero__check--items {
      display: flex;
      align-items: center;
      gap: 41px;
      padding-bottom: 48px;
      & .check__item {
        display: flex;
        align-items: center;
        gap: 8px;
        & .check__title--item {
          color: $primary-sky-blue;
          line-height: 160%;
          font-size: $--primary-secondary;
        }
      }
    }
  }
  & .hero__button--item {
    display: flex;
    justify-content: center;
    & .hero__button {
      @include callUsButton;
      & .white__bg--circle {
        @include whiteBgCircle;
      }
    }
  }
  & .hero__features--items {
    padding-left: 51px;
    padding-right: 49px;
    padding-bottom: 42px;
    display: flex;
    justify-content: center;
    & .features__item {
      display: flex;
      gap: 16px;
      padding-right: 32px;
      &:not(.not-line):after {
        content: "";
        height: 48px;
        width: 1.5px;
        background: linear-gradient(
          rgba(79, 102, 183, 0),
          rgba(79, 102, 183, 1),
          rgba(79, 102, 183, 0)
        );
        display: block;
        margin-left: 16px;
      }
      & .features__bg--item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        background: $primary-dark-blue-2;
        border-radius: 50%;
      }
      & .features__item--title {
        max-width: 105px;
        display: inline-block;
        color: $primary-white;
        line-height: 133.333%;
        font: {
          size: $--primary-frist;
          weight: 600;
        }
      }
    }
  }
  & .hero__decorations--items {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 2px;
  }
}

.professional {
  & .main__container {
    @include wrapperContainer;
  }
  & .professional__content {
    padding-top: 232px;
    display: flex;
    justify-content: space-between;
  }
  & .professional__information {
    display: flex;
    flex-direction: column;
    gap: 56px;
    & .professional__titles--item {
      display: flex;
      flex-direction: column;
      gap: 24px;
      & .professional__title {
        max-width: 557px;
        color: $primary-black;
        line-height: 123.077%;
        font: {
          size: $--primary-third;
          weight: 700;
        }
      }
      & .professional__subtitle {
        color: $primary-gray-2;
        line-height: 155.556%;
        font: {
          size: $--primary-frist;
        }
        max-width: 557px;
      }
    }
    & .professional__information--list {
      display: flex;
      align-items: center;
      gap: 57px;
      & .info--list {
        display: flex;
        flex-direction: column;
        gap: 32px;
        & .info__list--items {
          display: flex;
          align-items: center;
          gap: 12px;
          & .info__list-title {
            color: $primary-dark-blue-2;
            line-height: 140%;
            font : {
              size: $--primary-secondary;
              weight: 700;
            }
          }
        }
      }
    }
    & .professional__info--banner {
      & .banner__info--item {
        max-width: 450px;
        background: $primary-sky-blue;
        padding: 12px 32px;
        border-radius: 24px;
        & .banner--info {
          color: $primary-white;
          line-height: 155.556%;
          font-size: $--primary-frist;
        }
        & .banner--info-bold {
          color: $primary-white;
          line-height: 155.556%;
          font : {
            size: $--primary-secondary;
            weight: 600;
          }
          text-decoration: underline;
        }
      }
    }
  }
  & .professional__intro-image {
    position: relative;
    bottom: 80px;
  }
}

.services {
  & .main__container {
    @include wrapperContainer;
  }
}

.services__content {
  padding: 116.5px 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
  & .services__titles--items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    & .services__title {
      color: $primary-black;
      font: {
        size: $--primary-third;
        weight: 700;
      }
      line-height: 123.077%;
    }
    & .serives__subtitle {
      text-align: center;
      max-width: 552px;
      color: $primary-gray-2;
      font-size: $--primary-frist;
      line-height: 155.556%;
    }
  }
  & .services__cards--items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    & .services__card {
      padding: 32px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      & .services__card--bg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 64px;
        background: $primary-background;
        border-radius: 20px;
      }
      & .services__card-info {
        display: flex;
        flex-direction: column;
        gap: 12px;
        & .card__info--title {
          font-feature-settings: "liga" off;
          color: $primary-black;
          font : {
            size: $--primary-logo;
            weight: 700;
          }
          line-height: 133.333%;
        }
        & .card__info-subtitle {
          color: $primary-gray-2;
          font-size: $--primary-frist;
          line-height: 155.556%;
        }
      }
    }
  }
  & .more__services--item {
    background-color: $primary-sky-blue;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex: 1 0 0;
    padding: 32px;
    & .more__item {
      display: flex;
      flex-direction: column;
      gap: 4px;
      & .more-title {
        color: $primary-white;
        line-height: 133.333%;
        text-align: center;
        font-feature-settings: "liga" off;
        font: {
          size: $--primary-logo;
          weight: 700;
        }
      }
      & .more-subtitle {
        color: $primary-white;
        text-align: center;
        font-size: $--primary-frist;
        line-height: 155.556%;
      }
    }
    & .more {
      width: 296px;
      border-radius: 60px;
      background: $primary-white;
      padding: 16px 24px;
      color: $primary-sky-blue;
      font: {
        size: $--primary-logo;
        weight: 700;
      }
      line-height: 133.333%;
    }
  }
}

.friendly {
  margin: 24px 60px;
  border-radius: 24px;
  background: $primary-background;
  & .main__container {
    @include wrapperContainer;
  }
}

.friendly__content--item {
  display: flex;
  justify-content: space-between;
  & .friendly-image {
    position: relative;
    top: 117px;
  }
  & .friendly-image {
    right: 1.5px;
  }
  & .to-left {
    left: 1.5px;
  }
}

.friendly__content {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 64px 0;
  & .friendly__titles {
    & .friendly__titles--items {
      display: flex;
      align-items: flex-end;
      gap: 80px;
      & .friendly__title {
        color: $primary-white;
        line-height: 123.077%;
        font: {
          size: $--primary-third;
          weight: 700;
        }
      }

      & .friendly__subtitle {
        max-width: 613px;
        color: $primary-gray;
        line-height: 155.556%;
        font-size: $--primary-frist;
      }
    }
    &::after {
      content: "";
      margin-top: 60px;
      width: 100%;
      height: 1.5px;
      display: block;
      background: linear-gradient(to right, #4f66b700, #4f66b7, #4f66b700);
    }
  }
}

.friendly__cards--items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 128px);
  gap: 60px 184px;
  & .friendly__card {
    display: flex;
    gap: 32px;
    & .friendly__card--image {
      max-width: 100px;
      max-height: 100px;
    }
    & .friendly__card--info {
      display: flex;
      flex-direction: column;
      gap: 12px;
      & .friendly__card--title {
        color: $primary-white;
        line-height: 133.333%;
        font: {
          size: $--primary-logo;
          weight: 700;
        }
      }

      & .friendly__card-subtitle {
        color: $primary-gray;
        font-feature-settings: "liga" off;
        font-size: $--primary-frist;
        line-height: 155.556%;
      }
    }
  }
}

.works {
  & .main__container {
    @include wrapperContainer;
  }
}

.works__content {
  padding-top: 158px;
  padding-bottom: 156px;
  display: flex;
  justify-content: space-between;
  gap: 88px;
  & .works__hero--image {
    margin-left: -88px;
    & .worker-image {
      width: 100%;
      object-fit: cover;
    }
  }
  & .works__information--block {
    display: flex;
    flex-direction: column;
    gap: 60px;
    & .works__information--title {
      max-width: 395px;
      color: $primary-black;
      line-height: 123.077%;
      font: {
        size: $--primary-third;
        weight: 700;
      }
    }
    & .works__information--items {
      display: flex;
      flex-direction: column;
      gap: 52px;
      & .work__information--item {
        display: flex;
        gap: 36px;
        & .work__information--titles {
          display: flex;
          gap: 24px;
          & .number__item {
            color: $primary-gray;
            line-height: 123.077%;
            font: {
              size: $--primary-third;
              weight: 700;
            }
          }
          & .heading__item {
            max-width: 164px;
            color: $primary-black;
            line-height: 133.333%;
            font: {
              size: $--primary-logo;
              weight: 700;
            }
          }
        }
        & .work__information--subtitle {
          max-width: 420px;
          color: $primary-gray;
          font-feature-settings: "liga" off;
          font: {
            size: $--primary-frist;
          }
          line-height: 155.556%;
        }
      }
    }
  }
}

.reviews {
  & .main__container {
    @include wrapperContainer;
    max-width: 1920px;
    padding: 131px 395.392px 132px 394.608px;
  }
}

.reviews__content {
  display: flex;
  flex-direction: column;
  gap: 66px;
  & .reviews__title--item {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    & .reviews__title {
      max-width: 650px;
      color: $primary-black;
      font: {
        size: $--primary-third;
        weight: 700;
      }
      line-height: 123.077%;
    }
  }
  & .reviews__block {
    display: flex;
    flex-direction: column;
    gap: 40px;
    & .reviews__block-logo {
      text-align: center;
      & .trustpilot__logo {
        padding: 24px 0;
      }
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1.5px;
        background: linear-gradient(to right, #4f66b700, #cbcfdb, #4f66b700);
      }
    }
    & .reviews__block--subtitle {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 40px;
      & .reviews__subtitle {
        max-width: 728px;
        text-align: center;
        font-feature-settings: "liga" off;
        line-height: 160%;
        color: $primary-gray-2;
        font-size: $--primary-secondary;
      }
      & .menu__arrow--left {
        width: 48px;
        height: 48px;
        padding: 12px;
        background: $primary-soft-gray;
        border-radius: 50%;
      }
      & .menu__arrow-right {
        width: 48px;
        height: 48px;
        padding: 12px;
        background: $primary-sky-blue;
        border-radius: 50%;
      }
    }
    & .reviews__profile--item {
      display: flex;
      justify-content: center;
      gap: 32px;
      & .reviews__profile--rating {
        display: flex;
        flex-direction: column;
        gap: 8px;
        & .profile__title {
          color: $primary-black;
          font-feature-settings: "liga" off;
          line-height: 133.333%;
          font : {
            size: $--primary-logo;
            weight: 700;
          }
        }
      }
    }
  }
  & .reviews__menu--swipers {
    display: flex;
    justify-content: center;
    gap: 12px;
    & .blue__swipper {
      width: 40px;
      height: 12px;
      border-radius: 24px;
      background: $primary-sky-blue;
    }
    & .gray__swippers {
      display: flex;
      gap: 12px;
      & .gray-swipper {
        display: inline-block;
        width: 12px;
        height: 12px;
        background: $primary-soft-gray;
        border-radius: 50%;
      }
    }
  }
}
