@import "variables";
@import "colors";

@media screen and (width <= 1550px) {
  .professional,
  .services,
  .blog,
  .faq,
  .footer,
  .works,
  .reviews {
    padding: 0 50px;
  }
  .hero
    .hero__container
    .hero__content
    .hero__content--item
    .hero__content--block {
    padding-top: 100px;
  }
  .hero .hero__container .hero__content .hero__right--item .hero__right--image,
  .hero .hero__container .hero__content .hero__left--item .hero__left--image {
    max-height: 99%;
  }
  .hero .hero__features--items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 30px 70px;
    position: relative;
  }
  .hero .hero__features--items .features__item:not(.not-line):after {
    display: none;
  }
  .hero .hero__features--items .features__item {
    padding: 0 32px;
  }
  .hero .hero__features--items::before {
    content: "";
    position: absolute;
    top: -25px;
    bottom: 0;
    left: calc(100% / 2 + 1%);
    width: 1px;
    background: linear-gradient(to bottom, #4f66b700, #4f66b7, #4f66b700);
  }
  .hero .hero__features--items::after {
    content: "";
    position: absolute;
    top: calc(100% - 61%);
    right: 0;
    left: 110px;
    height: 1px;
    width: 500px;
    background: linear-gradient(to right, #4f66b700, #4f66b7, #4f66b700);
  }
  .hero .hero__container .hero__content .hero__content--item {
    padding: 0 100px;
    gap: 95px;
  }
  .header .header__container {
    padding: 24px 122px;
  }
  .hero .hero__container .hero__main--title .hero__title {
    padding-top: 35px;
  }
  .professional .professional__intro-image {
    text-align: center;
  }
  .professional .professional__intro-image .professional__image {
    max-width: 90%;
  }
  .friendly__cards--items {
    justify-items: center;
    gap: 60px 80px;
  }
  .friendly__cards--items
    .friendly__card
    .friendly__card--info
    .friendly__card-subtitle {
    max-width: 410px;
  }
  .friendly__content--item .friendly-image {
    max-height: 75%;
  }
  .friendly__content
    .friendly__titles
    .friendly__titles--items
    .friendly__title {
    font-size: $--media-first;
    text-align: center;
  }
  .works__content .works__hero--image .worker-image {
    max-width: 90%;
  }
  .works__content .works__hero--image {
    text-align: end;
  }
  .reviews .main__container {
    padding-left: 135px;
    padding-right: 135px;
  }
  .banner__content .banner__content--block .banner__block--info {
    padding-top: 65px;
  }
  .banner .main__container {
    left: 130px;
  }
  .hero .hero__decorations--items {
    top: 9px;
  }
}

@media screen and (width <= 1440px) {
  .professional .professional__intro-image .professional__image {
    max-width: 80%;
  }
  .professional .professional__intro-image {
    bottom: 20px;
  }
  .professional
    .professional__information
    .professional__titles--item
    .professional__title {
    font-size: $--media-first;
    line-height: 115%;
  }
  .professional
    .professional__information
    .professional__titles--item
    .professional__subtitle {
    font-size: $--primary-six;
  }
  .professional
    .professional__information
    .professional__info--banner
    .banner__info--item
    .banner--info {
    font-size: $--primary-six;
  }
  .professional
    .professional__information
    .professional__info--banner
    .banner__info--item
    .banner--info-bold {
    font-size: $--primary-frist;
  }
  .professional .professional__information {
    gap: 45px;
  }
  .professional .professional__content {
    padding-top: 115px;
  }
  .professional .professional__intro-image {
    text-align: end;
  }
  .professional
    .professional__information
    .professional__information--list
    .info--list {
    gap: 25px;
  }
  .services__content .services__titles--items .services__title {
    font-size: $--media-first;
  }
  .services__content .services__cards--items .services__card {
    padding: 15px;
  }
  .services__content .more__services--item {
    padding: 24px;
  }
  .services__content
    .services__cards--items
    .services__card
    .services__card-info {
    gap: 15px;
  }
  .friendly__content .friendly__titles .friendly__titles--items {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .friendly__content
    .friendly__titles
    .friendly__titles--items
    .friendly__subtitle {
    max-width: 713px;
    text-align-last: center;
  }
  .friendly__cards--items .friendly__card .friendly__card--image {
    max-width: 80px;
    max-height: 80px;
  }
  .friendly__cards--items
    .friendly__card
    .friendly__card--info
    .friendly__card--title {
    font-size: $--media-secondary;
  }
  .friendly__cards--items
    .friendly__card
    .friendly__card--info
    .friendly__card-subtitle {
    font-size: $--primary-six;
  }
  .friendly__cards--items {
    gap: 35px 80px;
  }
  .friendly__content--item .friendly-image {
    max-height: 65%;
  }
  .friendly__right--item {
    position: relative;
    left: 10px;
  }
  .friendly__content {
    padding: 32px 0;
    padding-top: 45px;
    gap: 30px;
  }
  .works__content .works__information--block .works__information--title {
    font-size: $--media-first;
  }
  .works__content
    .works__information--block
    .works__information--items
    .work__information--item
    .work__information--titles
    .heading__item {
    font-size: $--primary-secondary;
    max-width: 195px;
  }
  .works__content
    .works__information--block
    .works__information--items
    .work__information--item
    .work__information--titles
    .number__item {
    font-size: $--media-first;
  }
  .works__content
    .works__information--block
    .works__information--items
    .work__information--item
    .work__information--subtitle {
    font-size: $--primary-six;
    max-width: 295px;
  }
  .works__content
    .works__information--block
    .works__information--items
    .work__information--item {
    gap: 60px;
  }
  .works__content .works__information--block .works__information--items {
    gap: 26px;
  }
  .works__content {
    padding-bottom: 70px;
  }
  .reviews__content .reviews__title--item .reviews__title {
    font-size: $--media-first;
  }
  .reviews__content .reviews__block .reviews__block--subtitle {
    justify-content: space-around;
  }
  .blog__content .blog__titles--items .blog__title {
    font-size: $--media-first;
  }
  .blog__content .blog__titles--items .blog__subtitle {
    font-size: $--media-secondary;
  }
  .blog__content
    .blog__cards--items
    .blog__card
    .blog__card--info
    .blog__card--title {
    font-size: $--media-third;
  }
  .faq__content .faq__information--items .faq__title {
    font-size: $--media-first;
  }
  .faq__content .faq__menu--items .faq__menu--item {
    width: 100%;
    max-width: 833px;
  }
  .faq__content {
    gap: 90px;
    padding-top: 120px;
    padding-bottom: 100px;
  }
  .faq__content
    .faq__information--items
    .faq__information--links
    .faq__help--link {
    font-size: $--media-secondary;
  }
  .faq__content
    .faq__menu--items
    .faq__menu--item
    .faq__menu--title
    .menu__card--title,
  .faq__content
    .faq__menu--items
    .faq__menu--subitem
    .faq__menu--title
    .menu__card--title {
    font-size: $--media-secondary;
  }
  .faq__content .faq__menu--items .faq__menu--subitem .faq__menu--title {
    align-items: flex-start;
  }
  .banner__content .banner__content--block .banner__block--info .banner__title {
    font-size: $--media-first;
    max-width: 545px;
    gap: 32px;
  }
  .banner .banner__hero--image .banner__image {
    height: 100%;
  }
  .hero .hero__container .hero__content .hero__content--item {
    padding: 0 70px;
  }
  .banner {
    min-height: 460px;
  }
}

@media screen and (width <= 1250px) {
  .left__decoration,
  .right__decoration {
    max-width: 350px;
  }
  .hero .hero__decorations--items {
    top: 4px;
  }
  .header .header__container {
    padding: 24px 65px;
  }
  .professional .professional__information {
    gap: 35px;
  }
  .professional
    .professional__information
    .professional__information--list
    .info--list
    .info__list--items
    .info__list-title {
    font-size: $--primary-six;
  }
  .professional
    .professional__information
    .professional__information--list
    .info--list {
    gap: 20px;
  }
  .services__content .services__cards--items {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    row-gap: 40px;
  }
  .services__content .services__cards--items .services__card {
    padding: 0;
  }
  .friendly__content--item .friendly-image {
    display: none;
  }
  .friendly__cards--items {
    grid-template-columns: repeat(2, 450px);
    justify-content: center;
  }
  .reviews .main__container {
    padding-left: 80px;
    padding-right: 80px;
  }
  .reviews__content .reviews__block {
    gap: 45px;
  }
  .reviews__content .reviews__block .reviews__block--subtitle {
    padding-top: 0;
  }
  .blog__content
    .blog__cards--items
    .blog__card
    .blog__card--info
    .blog__card--title {
    font-size: $--media-four;
  }
  .blog__content .blog__cards--items {
    gap: 27px;
  }
  .faq__content
    .faq__menu--items
    .faq__menu--item
    .faq__menu--title
    .menu__card--title,
  .faq__content
    .faq__menu--items
    .faq__menu--subitem
    .faq__menu--title
    .menu__card--title {
    font-size: $--primary-secondary;
  }
  .banner .main__container {
    left: 70px;
  }
  .blog__content
    .blog__cards--items
    .blog__card
    .card__menu--buttons
    .menu__button {
    font-size: $--media-five;
  }
  .blog__content .blog__titles--items {
    gap: 32px;
  }
  .services__content .services__cards--items .services__card {
    align-items: center;
  }
  .services__content
    .services__cards--items
    .services__card
    .services__card-info {
    align-items: center;
  }
  .services__content
    .services__cards--items
    .services__card
    .services__card-info
    .card__info-subtitle {
    text-align: center;
    text-align-last: center;
  }
  .hero .hero__container .hero__content .hero__content--item {
    padding: 0 30px;
  }
  .hero .hero__container .hero__main--title .hero__title {
    padding-top: 15px;
    font-size: $--media-six;
  }
  .footer__content .footer__newsletter--block .newsletter__titles--items {
    padding-left: 35px;
  }
  .header
    .header__container
    .header__nav
    .nav
    .nav__menu
    .nav__menu--item
    .nav__menu--link,
  .header
    .header__container
    .header__nav
    .homepro__services--item
    .services__description {
    font-size: $--primary-six;
  }
  .header
    .header__container
    .header__nav
    .homepro__services--item
    .services__description::before {
    max-width: 10px;
    max-height: 10px;
  }
  .header
    .header__container
    .header__nav
    .header__logo
    .homepro__title--link
    .homepro__title {
    font-size: $--primary-secondary;
  }
  .header
    .header__container
    .header__nav
    .nav
    .nav__menu
    .nav__menu--item
    .nav__menu--link,
  .header
    .header__container
    .header__nav
    .homepro__services--item
    .services__description {
    font-size: $--primary-five;
  }
  .header .header__container {
    padding: 15px 65px;
  }
  .hero
    .hero__container
    .hero__content
    .hero__content--item
    .hero__content--block
    .hero__content--list
    .hero__list--item {
    font-size: $--primary-frist;
  }
  .hero
    .hero__container
    .hero__content
    .hero__content--item
    .hero__content--block
    .hero__content--list
    .hero__list--item:not(.not-circle)::after {
    max-width: 6px;
    max-height: 6px;
  }
  .hero .hero__container .hero__check--items .check__item .check__title--item {
    font-size: $--primary-frist;
  }
  .hero .hero__container .hero__main--title .hero__title {
    font-size: $--media-first;
    max-width: 600px;
    line-height: 110%;
  }
  .hero .hero__button--item .hero__button {
    font-size: $--media-secondary;
  }
  .hero .hero__button--item .hero__button .white__bg--circle {
    max-width: 38px;
    max-height: 38px;
  }
  .phone__icon {
    max-width: 20px;
    max-height: 20px;
  }
  .hero
    .hero__container
    .hero__content
    .hero__content--item
    .hero__content--block {
    padding-top: 50px;
  }
  .hero .hero__container .hero__content {
    padding-top: 65px;
  }
  .professional
    .professional__information
    .professional__titles--item
    .professional__title {
    font-size: $--media-seven;
    line-height: 100%;
  }
  .professional .professional__information .professional__titles--item {
    gap: 18px;
  }
  .professional
    .professional__information
    .professional__titles--item
    .professional__subtitle {
    line-height: 130%;
  }
  .professional
    .professional__information
    .professional__information--list
    .info--list
    .info__list--items
    .info__list-title {
    font-size: $--primary-five;
  }
  .professional
    .professional__information
    .professional__information--list
    .info--list {
    gap: 15px;
  }
  .professional .professional__intro-image .professional__image {
    max-width: 75%;
  }
  .professional
    .professional__information
    .professional__info--banner
    .banner__info--item
    .banner--info {
    line-height: 116%;
  }
  .professional
    .professional__information
    .professional__info--banner
    .banner__info--item {
    max-width: 400px;
  }
  .services__content .services__titles--items .services__title {
    font-size: $--media-seven;
  }
  .services__content .services__titles--items .serives__subtitle {
    font-size: $--primary-six;
    line-height: 135%;
  }
  .services__content
    .services__cards--items
    .services__card
    .services__card-info
    .card__info--title {
    font-size: $--primary-secondary;
  }
  .services__content
    .services__cards--items
    .services__card
    .services__card-info
    .card__info-subtitle {
    font-size: $--primary-six;
    max-width: 250px;
  }
  .services__content .services__cards--items {
    gap: 20px 40px;
  }
  .services__content .more__services--item {
    padding: 14px 16px;
    padding-top: 20px;
  }
  .services__content .more__services--item .more {
    max-width: 250px;
  }
  .friendly__content
    .friendly__titles
    .friendly__titles--items
    .friendly__title {
    font-size: $--media-seven;
  }
  .friendly__content .friendly__titles .friendly__titles--items {
    gap: 20px;
    padding-bottom: 40px;
  }
  .friendly__content
    .friendly__titles
    .friendly__titles--items
    .friendly__subtitle {
    font-size: $--primary-six;
    max-width: 630px;
  }
  .friendly__content .friendly__titles::after {
    max-width: 80%;
    margin: 0 auto;
  }
  .friendly__cards--items {
    grid-template-columns: repeat(2, 400px);
  }
  .friendly__cards--items
    .friendly__card
    .friendly__card--info
    .friendly__card--title {
    font-size: $--primary-secondary;
  }
  .friendly__cards--items
    .friendly__card
    .friendly__card--info
    .friendly__card-subtitle {
    font-size: $--primary-five;
  }
  .works__content .works__information--block .works__information--title {
    font-size: $--media-seven;
  }
  .works__content
    .works__information--block
    .works__information--items
    .work__information--item
    .work__information--titles
    .heading__item {
    font-size: $--primary-frist;
  }
  .works__content
    .works__information--block
    .works__information--items
    .work__information--item
    .work__information--titles
    .number__item {
    font-size: $--media-eight;
  }
  .works__content
    .works__information--block
    .works__information--items
    .work__information--item {
    flex-direction: column;
    gap: 25px;
  }
  .works__content
    .works__information--block
    .works__information--items
    .work__information--item
    .work__information--titles {
    align-items: center;
  }
  .works__content .works__hero--image .worker-image {
    max-width: 75%;
  }
  .works__content .works__hero--image {
    margin-left: -140px;
  }
  .reviews .main__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .reviews__content .reviews__title--item .reviews__title {
    font-size: $--media-seven;
  }
  .reviews__content
    .reviews__block
    .reviews__block--subtitle
    .reviews__subtitle {
    font-size: $--primary-frist;
    max-width: 650px;
  }
  .reviews__content .reviews__block .reviews__block--subtitle {
    justify-content: space-between;
  }
  .profile__image {
    max-width: 56px;
    max-height: 56px;
  }
  .reviews__content
    .reviews__block
    .reviews__profile--item
    .reviews__profile--rating
    .profile__title {
    font-size: $--primary-secondary;
  }
  .gold__star--icon,
  .white__star--icon {
    max-width: 24px;
    max-height: 24px;
  }
  .blog__content .blog__titles--items .blog__title {
    font-size: $--media-seven;
  }
  .blog__content .blog__titles--items .blog__subtitle {
    font-size: $--primary-frist;
    max-width: 470px;
  }
  .blog__content
    .blog__cards--items
    .blog__card
    .blog__card--info
    .blog__card--title {
    font-size: $--media-secondary;
  }
  .blog__content
    .blog__cards--items
    .blog__card
    .blog__card--info
    .blog__card--subtitle {
    font-size: $--primary-six;
  }
  .blog__content
    .blog__cards--items
    .blog__card
    .card__menu--buttons
    .menu__button {
    font-size: $--media-five;
  }
  .blog__content .blog__cards--items .blog__card .blog__card--image {
    max-width: 90%;
  }
  .blog__content .blog__cards--items .blog__card .blog__card--info .card__date {
    font-size: $--primary-six;
  }
  .blog__content .view__more--item .view {
    font-size: $--media-secondary;
  }
  .faq__content .faq__information--items .faq__title {
    font-size: $--media-seven;
  }
  .faq__content
    .faq__menu--items
    .faq__menu--item
    .faq__menu--title
    .menu__card--title,
  .faq__content
    .faq__menu--items
    .faq__menu--subitem
    .faq__menu--title
    .menu__card--title {
    font-size: $--primary-frist;
  }
  .faq__content .faq__menu--items .faq__menu--subitem .faq__menu--title {
    padding: 18px 32px;
  }
  .faq__content .faq__menu--items .faq__menu--item .faq__menu--subtitle {
    font-size: $--primary-five;
  }
  .banner__content .banner__content--block .banner__block--info .banner__title {
    font-size: $--media-seven;
  }
  .banner__content
    .banner__content--block
    .banner__block--info
    .hero__check--items
    .check__item
    .check__title--item {
    font-size: $--primary-frist;
  }
  .banner {
    min-height: 380px;
  }
  .banner__content
    .banner__content--block
    .banner__decoration--item
    .decoration__item {
    max-width: 420px;
  }
  .footer__content
    .footer__newsletter--block
    .newsletter__titles--items
    .newsletter__title {
    font-size: $--primary-secondary;
  }
  .footer__content
    .footer__newsletter--block
    .newsletter__titles--items
    .newsletter__subtitle {
    font-size: $--primary-six;
  }
  .footer__content .footer__newsletter--block .newsletter__form {
    max-width: 435px;
  }
  .footer__content .footer__newsletter--block .newsletter__titles--items {
    padding-right: 35px;
    gap: 5px;
  }
  .footer__content
    .footer__navigation
    .footer__nav
    .company__menu
    .company__menu--title,
  .footer__content
    .footer__navigation
    .footer__nav
    .legal__menu
    .legal__menu--title {
    font-size: $--primary-secondary;
  }
  .footer__content
    .footer__navigation
    .footer__nav
    .company__menu
    .company__menu--item
    .company__menu--link,
  .footer__content
    .footer__navigation
    .footer__nav
    .legal__menu
    .legal__menu--item
    .legal__menu--link {
    font-size: $--primary-frist;
  }
  .footer__content .footer__navigation .footer__nav .company__menu,
  .footer__content .footer__navigation .footer__nav .legal__menu {
    gap: 8px;
  }
  .footer__content
    .footer__navigation
    .footer__bottom--block
    .footer__logo
    .footer__bottom--title {
    font-size: $--primary-logo;
  }
  .hero .hero__container .hero__content .hero__content--item {
    padding: 0;
  }
  .hero .hero__features--items {
    grid-template-columns: repeat(2, 200px);
  }
  .hero .hero__features--items::after {
    left: 50px;
  }
  .hero .hero__container .hero__content .hero__content--item {
    gap: 50px;
  }
}

@media screen and (width <= 1145px) {
  .blog__content .blog__cards--items {
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
  }
  .blog__content
    .blog__cards--items
    .blog__card
    .card__menu--buttons
    .menu__button {
    font-size: $--media-nine;
  }
  .blog__content .blog__cards--items .blog__card .card__menu--buttons {
    gap: 8px;
  }
  .faq__content
    .faq__information--items
    .faq__information--links
    .faq__help--item {
    font-size: $--primary-frist;
  }
  .faq__content
    .faq__information--items
    .faq__information--links
    .faq__help--link {
    font-size: $--primary-secondary;
  }
  .arrow__right,
  .arrow__left {
    max-width: 18px;
    max-height: 18px;
  }
  .reviews__content
    .reviews__block
    .reviews__block--subtitle
    .menu__arrow-right,
  .reviews__content
    .reviews__block
    .reviews__block--subtitle
    .menu__arrow--left {
    padding: 10px;
    max-width: 40px;
    max-height: 40px;
  }
  .footer__content
    .footer__navigation
    .footer__bottom--block
    .footer__bottom--subtitle {
    font-size: $--primary-six;
    max-width: 335px;
    line-height: 135%;
  }
  .footer__content
    .footer__newsletter--block
    .newsletter__form
    .newsletter__email--item::placeholder {
    font-size: $--primary-five;
  }
  .footer__content .footer__newsletter--block .newsletter__form .subscribe {
    padding: 10px 30px;
    font-size: $--primary-six;
  }
}

@media screen and (width <= 1040px) {
  .professional .professional__intro-image {
    max-width: 450px;
  }
  .friendly__cards--items
    .friendly__card
    .friendly__card--info
    .friendly__card--title {
    font-size: $--primary-frist;
  }
  .friendly__cards--items
    .friendly__card
    .friendly__card--info
    .friendly__card-subtitle {
    font-size: 0.95rem;
  }
  .friendly__cards--items {
    gap: 25px 40px;
  }
  .blog__content .blog__cards--items {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog__content .blog__cards--items .blog__card .blog__card--image {
    max-width: 75%;
  }
  .blog__content
    .blog__cards--items
    .blog__card
    .blog__card--info
    .blog__card--title {
    max-width: 400px;
  }
  .blog__content
    .blog__cards--items
    .blog__card
    .card__menu--buttons
    .menu__button {
    font-size: $--primary-six;
  }
}

@media screen and (width <= 992px) {
  .professional .professional__content {
    flex-direction: column-reverse;
    gap: 30px;
    align-items: center;
  }
  .professional .professional__intro-image {
    text-align: center;
  }
  .professional .professional__intro-image .professional__image {
    max-width: 95%;
  }
  .professional .professional__content {
    padding-top: 85px;
  }
  .friendly__cards--items {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  .friendly__cards--items .friendly__card {
    gap: 64px;
  }
  .friendly__content
    .friendly__titles
    .friendly__titles--items
    .friendly__title {
    font-size: $--media-ten;
  }
  .friendly__content
    .friendly__titles
    .friendly__titles--items
    .friendly__subtitle {
    font-size: $--media-eleven;
  }
  .works__content {
    flex-direction: column;
    gap: 35px;
    align-items: center;
  }
  .works__content .works__hero--image .worker-image {
    max-width: 75%;
  }
  .works__content
    .works__information--block
    .works__information--items
    .work__information--item {
    flex-direction: row;
    justify-content: space-between;
  }
  .works__content
    .works__information--block
    .works__information--items
    .work__information--item
    .work__information--titles
    .heading__item {
    font-size: $--media-secondary;
  }
  .works__content .works__information--block {
    align-items: center;
  }
  .works__content {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .works__content .works__hero--image {
    margin-left: -180px;
  }
  .reviews .main__container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .blog__content .blog__cards--items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }
  .blog__content .blog__cards--items .blog__card {
    align-items: center;
  }
  .blog__content
    .blog__cards--items
    .blog__card
    .blog__card--info
    .blog__card--title {
    text-align: center;
  }
  .blog__content
    .blog__cards--items
    .blog__card
    .blog__card--info
    .blog__card--title {
    font-size: $--primary-logo;
  }
  .faq__content {
    flex-direction: column;
    align-items: center;
  }
  .faq__content .faq__information--items {
    max-width: 540px;
    align-items: center;
  }
  .banner {
    flex-direction: column;
  }
  .banner .banner__hero--image .banner__image {
    max-width: 75%;
  }
  .banner__hero--image {
    text-align: right;
  }
  .footer__content .footer__newsletter--block {
    flex-direction: column;
    gap: 40px;
  }
  .footer__content .footer__newsletter--block .newsletter__titles--items {
    align-items: center;
    gap: 20px;
  }
  .footer__content
    .footer__newsletter--block
    .newsletter__titles--items
    .newsletter__title {
    font-size: $--primary-logo;
  }
  .banner .main__container {
    left: 15px;
  }
  .header .header__container .header__nav .nav .nav__menu {
    display: none;
  }
  .services__content .services__cards--items {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }
}

@media screen and (width <= 760px) {
  .hero .hero__container .hero__content .hero__right--item .hero__right--image,
  .hero .hero__container .hero__content .hero__left--item .hero__left--image {
    display: none;
  }
  .friendly__content
    .friendly__titles
    .friendly__titles--items
    .friendly__subtitle {
    max-width: 500px;
  }
  .friendly__cards--items {
    gap: 50px;
  }
  .footer__content .footer__navigation {
    flex-direction: column;
  }
  .footer__content .footer__navigation .footer__nav {
    justify-content: flex-start;
    gap: 100px;
  }
  .banner .main__container {
    max-width: 530px;
  }
  .left__decoration,
  .right__decoration {
    max-width: 240px;
  }
  .hero .hero__decorations--items {
    top: 2px;
  }
  .footer__content .footer__navigation {
    padding-bottom: 20px;
  }
}

@media screen and (width <= 600px) {
  .friendly__cards--items .friendly__card {
    flex-direction: column;
    align-items: center;
  }
  .friendly__cards--items .friendly__card .friendly__card--info {
    align-items: center;
  }
  .friendly__cards--items .friendly__card {
    gap: 32px;
  }
  .friendly__content
    .friendly__titles
    .friendly__titles--items
    .friendly__subtitle {
    max-width: 380px;
  }
  .blog__content .blog__cards--items .blog__card .blog__card--info .card__date {
    text-align: center;
  }
  .faq__content .faq__information--items .faq__title {
    text-align: center;
  }
  .footer__content
    .footer__newsletter--block
    .newsletter__titles--items
    .newsletter__title {
    text-align: center;
  }
  .footer__content
    .footer__newsletter--block
    .newsletter__titles--items
    .newsletter__subtitle {
    text-align-last: center;
  }
  .services__content .services__cards--items {
    grid-template-columns: 1fr;
    row-gap: 65px;
  }
  .hero .hero__container .hero__content .hero__content--item {
    max-width: 550px;
  }
  .header
    .header__container
    .header__nav
    .nav
    .nav__menu
    .nav__menu--item
    .nav__menu--link,
  .header
    .header__container
    .header__nav
    .homepro__services--item
    .services__description {
    display: none;
  }
  .header .header__container {
    padding: 15px 30px;
  }
  .header
    .header__container
    .header__nav
    .header__logo
    .homepro__title--link
    .homepro__title {
    font-size: $--primary-logo;
  }
  .footer__copyright .footer__copy {
    font-size: $--primary-secondary;
  }
  .friendly__cards--items
    .friendly__card
    .friendly__card--info
    .friendly__card-subtitle {
    max-width: 300px;
    text-align: center;
  }
  .services__content .more__services--item .more {
    max-width: 300px;
  }
  .reviews__content
    .reviews__block
    .reviews__block--subtitle
    .menu__arrow-right,
  .reviews__content
    .reviews__block
    .reviews__block--subtitle
    .menu__arrow--left {
    display: none;
  }
  .reviews .main__container {
    padding-left: 0;
    padding-right: 0;
  }
  .works__content
    .works__information--block
    .works__information--items
    .work__information--item {
    flex-direction: column;
  }
}

@media screen and (width <= 575px) {
  .hero .hero__container .hero__content .hero__content--item {
    max-width: 515px;
  }
  .hero .hero__features--items::after {
    max-width: 450px;
  }
  .banner__content .banner__content--block .banner__block--info .banner__title {
    font-size: $--media-ten;
  }
  .banner .main__container {
    max-width: 425px;
  }
  .hero .hero__features--items::after {
    left: 20px;
  }
  .hero .hero__container .hero__main--title .hero__title {
    font-size: $--media-title;
  }
  .hero
    .hero__container
    .hero__content
    .hero__content--item
    .hero__content--block
    .hero__content--list
    .hero__list--item {
    font-size: $--primary-six;
  }
  .footer__content .footer__newsletter--block .newsletter__form {
    max-width: 355px;
  }
  .hero .hero__features--items {
    grid-template-columns: repeat(2, 150px);
  }
  .left__decoration,
  .right__decoration {
    max-width: 200px;
  }
  .professional .professional__information .professional__information--list {
    gap: 35px;
  }
  .friendly__content
    .friendly__titles
    .friendly__titles--items
    .friendly__title {
    font-size: $--primary-four;
  }
  .friendly__content
    .friendly__titles
    .friendly__titles--items
    .friendly__subtitle {
    max-width: 300px;
    text-align: center;
  }
  .reviews__content .reviews__title--item .reviews__title {
    font-size: $--media-ten;
  }
}

@media screen and (width <= 505px) {
  .hero .hero__features--items::after {
    left: -15px;
  }
  .hero .hero__features--items {
    gap: 50px 70px;
  }
  .hero .hero__container .hero__content .hero__content--item {
    max-width: 425px;
  }
  .hero .hero__features--items::after {
    max-width: 400px;
    left: 15px;
  }
  .hero .hero__container .hero__check--items .check__item .check__title--item {
    font-size: $--primary-six;
  }
  .banner__content
    .banner__content--block
    .banner__block--info
    .hero__check--items
    .check__item
    .check__title--item {
    font-size: $--primary-six;
  }
  .footer__content .footer__newsletter--block .newsletter__form {
    max-width: 325px;
  }
  .banner .banner__hero--image .banner__image {
    max-width: 100%;
  }
  .banner {
    gap: 15px;
  }
  .banner__content .banner__content--block .banner__block--info .banner__title {
    text-align: center;
  }
  .banner__content
    .banner__content--block
    .banner__decoration--item
    .decoration__item {
    max-width: 370px;
  }
  .banner__content
    .banner__content--block
    .banner__decoration--item
    .decoration__item {
    margin-top: -1px;
  }
  .left__decoration,
  .right__decoration {
    display: none;
  }
  .mobile__decorations--items {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .professional
    .professional__information
    .professional__info--banner
    .banner__info--item {
    max-width: 330px;
    text-align-last: center;
  }
  .professional
    .professional__information
    .professional__info--banner
    .banner__info--item
    .banner--info {
    line-height: 120%;
  }
}
